<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/AddActivity/vars.css">
  <link rel="stylesheet" href="/css/AddActivity/style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>AddActivity</title>
</head>
<body>
  <div class="add-activity-user">
    <div class="add-new-activity">Add New Activity</div>
    <div class="navbar">
      <div class="container">
        <div class="content">
          <div class="logo">
            <img class="logo2" src="/css/AddActivity/logo1.svg" />
            <div class="yu-run">YuRun</div>
          </div>
        </div>
        <div class="column">
          <div class="home">Home</div>
          <div class="about">My Activities</div>
          <div class="race">Race</div>
        </div>
        <div class="icon">
          <img class="account-circle" src="/css/AddActivity/account-circle0.svg" />
          <img
            class="material-symbols-logout"
            src="/css/AddActivity/material-symbols-logout0.svg"
          />
        </div>
      </div>
    </div>

    <!-- <form th:action="/addActivity" ></form> -->
    <div class="frame-input">
      <div class="input-1">
        <div class="jarak">
          <div class="distance">Distance</div>
          <div class="input">
            <!-- <input type="number" name="distance" placeholder="Enter distance in km" required> -->
            <div class="rectangle-23"></div>
            <div class="group-33505">
              <div class="rectangle-24"></div>
              <div class="kilometer">Kilometer</div>
            </div>
          </div>
        </div>
        <div class="durasi">
          <div class="duration">Duration</div>
          <div class="input2">
            <div class="rectangle-232"></div>
            <div class="hour">Hour</div>
            <div class="rectangle-242"></div>
            <div class="minute">Minute</div>
            <div class="rectangle-25"></div>
            <div class="second">Second</div>
          </div>
        </div>
        <div class="waktu">
          <div class="date-time">Date &amp; Time</div>
          <div class="input2">
            <div class="group-33506">
              <div class="rectangle-243"></div>
              <div class="dd-mm-yyyy">dd/mm/yyyy</div>
            </div>
            <div class="rectangle-242"></div>
          </div>
        </div>
      </div>
      <div class="input-2">
        <div class="judul">
          <div class="title">Title</div>
          <div class="rectangle-233"></div>
        </div>
        <div class="jenis">
          <div class="kind">Kind</div>
          <div class="checkbox">
            <div class="pil-1">
              <div class="daily">Daily</div>
              <div class="rectangle-252"></div>
            </div>
            <div class="pil-2">
              <div class="half-marathon">Half Marathon</div>
              <div class="rectangle-253"></div>
            </div>
            <div class="pil-3">
              <div class="marathon">Marathon</div>
              <div class="rectangle-254"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="input-3">
        <div class="deskripsi">
          <div class="description">Description</div>
          <div class="rectangle-234"></div>
        </div>
        <div class="gambar">
          <div class="upload-image">Upload Image</div>
          <div class="group-335062">
            <img class="upload-01" src="/css/AddActivity/upload-010.svg" />
            <div class="rectangle-235"></div>
            <div class="button">
              <div class="rectangle-236"></div>
              <div class="upload-image2">Upload Image</div>
      
            </div>
          </div>
        </div>
      </div>
      <div class="button2">
        <div class="cancel">
          <div class="cancel2">Cancel</div>
        </div>
        <div class="save">
          <div class="save2">Save</div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="content2">
        <div class="logo3">
          <div class="logo">
            <img class="logo4" src="/css/AddActivity/logo4.svg" />
            <div class="yu-run2">YuRun</div>
          </div>
        </div>
        <div class="links">
          <div class="about2">About</div>
          <div class="contact">Contact</div>
        </div>
        <div class="social-links">
          <img class="icon-facebook" src="/css/AddActivity/icon-facebook0.svg" />
          <img class="icon-instagram" src="/css/AddActivity/icon-instagram0.svg" />
          <img class="icon-x" src="/css/AddActivity/icon-x0.svg" />
          <img class="icon-linked-in" src="/css/AddActivity/icon-linked-in0.svg" />
          <img class="icon-youtube" src="/css/AddActivity/icon-youtube0.svg" />
        </div>
      </div>
      <div class="credits">
        <div class="divider"></div>
        <div class="row">
          <div class="_2024-shipon-all-rights-reserved">
            © 2024 Shipon. All rights reserved.
          </div>
          <div class="footer-links">
            <div class="privacy-policy">Privacy Policy</div>
            <div class="terms-of-service">Terms of Service</div>
            <div class="cookies-settings">Cookies Settings</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>