body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    font-family: "Roboto-Regular", sans-serif;
}
.containerBody{
    display: grid;
    grid-template-rows: 60px 103px auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "navbar"
        "header"
        "contentBody"
        "infoPagination";
    min-height: 100vh;
    min-width: 100vw;
    overflow: auto;
    justify-content: flex-start;
    align-items: flex-start;
}    
.navbar {
    grid-area: navbar;
    position: fixed; /* Tetap di posisi atas */
    top: 0; /* Pastikan di bagian paling atas */
    left: 0; /* Mulai dari kiri layar */
    width: 100%; /* Penuhi lebar layar */
    z-index: 1000; /* Letakkan di atas elemen lain */
    background: var(--background-color-primary, #ffffff); /* Pastikan ada warna latar */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px; /* Berikan sedikit padding */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan untuk kesan floating */
    height: 40px;
}
.logo{
    display: flex;
    width: 220px;
}
.yurun{
    display: flex;
    color: var(--neutral-colors-950, #141414);
    font-family: "Roboto-Medium", sans-serif;
    font-size: 21px;
    line-height: 120%;
    font-weight: 500;
    align-items: center;
}
.textNavbar{
    display: flex;
    gap: 30px;
    color: var(--neutral-colors-950, #141414);
    font-family: "Roboto-Medium", sans-serif;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
}
.textNavbar a {
  text-decoration: none;
  color: var(--neutral-colors-950, #141414);
}
a.page{
  color: var(--primary-color-500, #ff5722);
  font-weight: 1000;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto-SemiBold", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
    column-gap: 20px;
}
.add {
    background: #ff5722;
    border-radius: 16px;
    width: 179px;
    height: 50px;
    color: #ffffff;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 20px;
    line-height: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

/* BAGIAN HEADER */
.header{
    font-family: "Roboto-Regular", sans-serif;
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 103px;
    padding-left: 20px;
}
.filterForm{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    column-gap: 10px;
}
.search{
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    border-style: solid;
    border-color: var(--grey-40, #d0d0d0);
    border-width: 1px;
    border-radius: 10px;
}
.search-bar {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
}
.search-race{
    border: none;
    flex-shrink: 0;
    width: 300px;
    height: 30px;
    padding-left: 10px;
    padding-right: 20px;
    background: none;
}
.dropdown{
    border-radius: 10px;
    border-style: solid;
    border-color: var(--grey-40, #d0d0d0);
    border-width: 1px;
    flex-shrink: 0;
    width: 200px;
    height: 30px;
    position: relative;
    padding-left: 10px;
    padding-right: 20px;
    background: none;
}
.entries {
    font-size: 15px;
}
  .entries select{
    padding: 5px;
    border: none;
    color: #ffffff;
    background: #ff5722;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
  }

/* BAGIAN CONTENT */
.contentBody {
    grid-area: contentBody;
    justify-content: center;
    justify-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    font-family: "Roboto-Medium", sans-serif;
}
.square {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr; /* Semua elemen dalam satu kolom */
    gap: 10px; /* Jarak antar elemen */
    background: #fefaf7;
    border: #ff5722 3px solid;
    width: 300px;
    height: auto;
    border-radius: 10px;
    padding: 15px;
}
.kindText {
    font-weight: 600;
    font-size: larger;
    text-align: center; /* Lurus di tengah */
}
.detailText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px; /* Jarak antar teks */
    text-align: left; /* Lurus di kiri */
    font-weight: 500;
    font-size: large;
}
.title {
    font-weight: bold; /* Membuat teks title lebih tebal */
}
.description {
    font-weight: normal; /* Membuat teks description normal */
    color: #666; /* Opsional: Gunakan warna abu-abu untuk membedakan */
}
.detailTime {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    font-size: small;
    color: gray;
    align-items: center;
}
.status-approved {
    background-color: #ccffcc; /* Warna hijau muda */
    color: #006400; /* Warna hijau gelap */
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.status-rejected {
    background-color: #ffcccc; /* Warna merah muda */
    color: #8b0000; /* Warna merah gelap */
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.status-ongoing{
    background-color: #ccecff; /* Warna merah muda */
    color: #113659; /* Warna merah gelap */
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.actionButton {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-top: auto; 
    cursor: pointer;
}

.approvalRace {
    background: none;
    border: #7f190f 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    border-radius: 10px;
    font-size: medium;
    color: #c71e07;
    font-weight: 500;
    width: 135px;
    height: 40px;
    text-decoration: none;
}

.edit {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff5722;
    column-gap: 10px;
    color: #ffffff;
    border-radius: 10px;
    font-size: large;
    width: 115px;
    height: 40px;
    text-decoration: none;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-size: larger;
    border: #ff5722 3px solid;
    font-family: "Roboto-SemiBold", sans-serif;
    cursor: pointer;
}

.popup-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.noAction {
    border: #141414 2px solid;
    width: 80px;
    padding: 10px;
    border-radius: 10px;
}

#confirmClose {
    background-color: #7f190f;
    color: #ffffff;
    width: 80px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.infoPagination{
  grid-area: infoPagination;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pagination a {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.pagination a.active {
  background-color: #c71e07;
  color: white;
  border-color: #c71e07;
}

.pagination a:hover {
  background-color: #c71e07;
  color: white;
}

.pagination .prev, .pagination .next {
  font-weight: bold;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
}

.pagination .prev:hover, .pagination .next:hover {
  background-color: #c71e07;
}

.pagination .prev[disabled], .pagination .next[disabled] {
  background-color: #f2f2f2;
  color: #ccc;
  border-color: #ccc;
  pointer-events: none;
}

span.active {
  background-color: #c71e07;
  border-color: #c71e07;
  border-radius: 4px;
}

.hidden {
    display: none;
}