body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto-Medium", sans-serif;
}
.containerBody{
  display: grid;
  grid-template-rows: 70px 80px 80px 1fr 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: 
      "navbar"
      "filter"
      "activity"
      "graph"
      "contentBody"
      "footer";
  min-height: 100vh;
  min-width: 100vw;
  overflow: auto;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Roboto-Medium", sans-serif;
}    
.navbar {
  grid-area: navbar;
  position: fixed; /* Tetap di posisi atas */
  top: 0; /* Pastikan di bagian paling atas */
  left: 0; /* Mulai dari kiri layar */
  width: 100%; /* Penuhi lebar layar */
  z-index: 1000; /* Letakkan di atas elemen lain */
  background: var(--background-color-primary, #ffffff); /* Pastikan ada warna latar */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px; /* Berikan sedikit padding */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan untuk kesan floating */
  height: 40px;
}
.logo{
  display: flex;
  width: 220px;
}
.yurun{
  display: flex;
  color: var(--neutral-colors-950, #141414);
  font-family: "Roboto-Medium", sans-serif;
  font-size: 21px;
  line-height: 120%;
  font-weight: 500;
  align-items: center;
}
.textNavbar{
  display: flex;
  gap: 30px;
  color: var(--neutral-colors-950, #141414);
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.textNavbar a {
text-decoration: none;
color: var(--neutral-colors-950, #141414);
}
a.page{
color: var(--primary-color-500, #ff5722);
font-weight: 1000;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  column-gap: 20px;
}
.add {
  background: #ff5722;
  border-radius: 16px;
  width: 179px;
  height: 50px;
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

/* BAGIAN FILTER */
.title {
  font-weight: 600;
  color: #7f190f;
  font-size: larger;
}

.filter{
  grid-area: filter;
  display: grid;
  grid-template-areas: 
  "filter1 download"
  "custom download";
  grid-template-columns: 550px auto;
  margin: 0 20px 0 20px;
  height: 70px;
  border-bottom: 2px solid #ff5722;
  gap: 10px;
}
.filter1 {
  grid-area: filter1;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
input[type="date"]{
  font-family: "Roboto-Medium", sans-serif;
}

.filter-button {
  background-color: #fdb19a;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.filter-button.active {
  background-color: #ff6f37; /* Warna tombol aktif */
  color: white; /* Ubah warna teks jika diperlukan */
}

.download {
  grid-area: download;
  background-color: #7f190f;
  color: #ffffff;
  font-weight: 550;
  border-radius: 5px;
  width: 180px;
  height: 40px;
  align-content: center;
  align-self: center;
  text-align: center;
  cursor: pointer;
}
.disabled {
  background-color: #d3d3d3; /* Warna abu-abu */
  cursor: not-allowed; /* Cursor menjadi tanda larangan */
  pointer-events: none; /* Menonaktifkan interaksi dengan tombol */
}
.custom {
  grid-area: custom;
}

/* BAGIAN ACTIVITY */
.activity {
  grid-area: activity;
  margin-left: 20px;
}

.recap {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  margin-top: 10px 0 10px 0;
  column-gap: 30px;
}

.title2 {
  font-weight: 600;
  color: #141414;
  font-size: large;
}

/* BAGIAN GRAFIK */
.graph {
  grid-area: graph;
  margin-left: 20px;
}

#container {
  height: 300px;
  width: 80%;
  margin-top: 10px;
}

/* BAGIAN CONTENT */
.contentBody{
  grid-area: contentBody;
  width: 95%;
  justify-self: center;
}
.text3 {
  color: var(--primary-color-500, #ff5722);
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 21px;
  line-height: 120%;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.text3 a {
  text-decoration: none;
  color: inherit;
}

.table_race {
  width: 100%;
  /* margin: 20px auto; */
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  border-spacing: 0;
  border-collapse: separate; 
  border-radius: 10px;
  margin: 10px 0 20px 0;
}
thead th {
  background-color: #F5F5F5;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #ff5722;
}
thead th:first-child {
  border-radius: 10px 0 0 10px;
}

thead th:last-child {
  border-radius: 0 10px 10px 0;
}
.table_race td {
  padding: 10px;
  text-align: center;
  border: 1px solid #F5F5F5;
}
.table_race tbody td:first-child {
  border-radius: 10px 0 0 10px; 
}
.table_race tbody td:last-child {
  border-radius: 0 10px 10px 0;
}
th a img {
  width: 16px; /* Ubah sesuai kebutuhan */
  height: 16px;
  vertical-align: middle; /* Agar sejajar dengan teks */
  margin-left: 5px; /* Memberi jarak antara teks dan gambar */
}

/* BAGIAN FOOTER */
.footer{
  grid-area: footer;
    background: var(--background-color-primary, #ffffff);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    height: 110px;
    min-height: 110px;
    margin-top: 20px;
}
.content2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo3 {
  flex-shrink: 0;
  width: 22.48px;
  height: 25px;
  position: relative;
  overflow: visible;
}
.fit-life-studio {
  color: var(--primary-color-500, #ff5722);
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 21px;
  line-height: 120%;
  font-weight: 600;
  position: relative;
  width: 200px;
}
.links {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.about2 {
  color: var(--neutral-colors-900, #3d3d3d);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
}
.contact {
  color: var(--neutral-colors-900, #3d3d3d);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
}
.social {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 171px;
  height: auto;
  position: relative;
  overflow: visible;
}
.divider {
  background: var(--neutral-colors-500, #6d6d6d);
  border-style: solid;
  border-color: var(--neutral-colors-800, #454545);
  border-width: 1px;
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  margin: 20px 0;
} 
.credits {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text-1 {
  color: var(--neutral-colors-900, #3d3d3d);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}
.text-2 {
  color: var(--neutral-colors-900, #3d3d3d);
  text-align: left;
  font-family: var(--text-small-link-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--text-small-link-font-size, 14px);
  line-height: var(--text-small-link-line-height, 150%);
  font-weight: var(--text-small-link-font-weight, 400);
  text-decoration: underline;
  position: relative;
}