<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress</title>
    <link rel="stylesheet" href="/css/Member/Progress/style.css">
    <link rel="stylesheet" href="/css/vars.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

    <script src="/js/Member/Progress.js" defer></script>
</head>
<body class="containerBody">
    <nav class="navbar">
        <div class="logo">
            <img src="/css/LandingPage/logo1.svg">
            <a class="yurun">YuRun</a>
        </div>
        <div class="textNavbar">
            <a th:href="@{/member}">Home</a>
            <a th:href="@{/member/activity}">My Activity</a>
            <a th:href="@{/member/race}">Race</a>
            <a class="page" th:href="@{/member/progress}">Progress</a>
        </div>
        <div class="button">
            <a>
                <img src="/css/Admin/HomePage/account-circle0.svg"/>
            </a>
            <a th:href="@{/logout}">
                <img src="/css/Admin/HomePage/logout.svg"/>
            </a>
        </div>
    </nav>
    <div class="filter">
        <div class="filter1">
            <form action="/member/progress" method="GET">
                <input type="hidden" name="filterType" value="All">
                <button type="submit" class="filter-button" data-filter="All">All</button>
            </form>
            <form action="/member/progress" method="GET">
                <input type="hidden" name="filterType" value="Weekly">
                <button type="submit" class="filter-button" data-filter="Weekly">Weekly</button>
            </form>
            <form action="/member/progress" method="GET">
                <input type="hidden" name="filterType" value="1Month">
                <button type="submit" class="filter-button" data-filter="1Month">1 Month</button>
            </form>
            <form action="/member/progress" method="GET">
                <input type="hidden" name="filterType" value="3Months">
                <button type="submit" class="filter-button" data-filter="3Months">3 Months</button>
            </form>
            <form action="/member/progress" method="GET">
                <input type="hidden" name="filterType" value="1Year">
                <button type="submit" class="filter-button" data-filter="1Year">1 Year</button>
            </form>
        </div>
        <!-- Custom Filter -->
        <form action="/member/progress" method="GET" class="custom">
            <label for="start-date">Start Date:</label>
            <input type="date" name="startDate" id="start-date" th:value="${startDate}" required>
            <label for="end-date">End Date:</label>
            <input type="date" name="endDate" id="end-date" th:value="${endDate}" required>
            <button type="submit" class="filter-button">Custom</button>
        </form>
        <a type="button" id="download-pdf" class="download">Download PDF</a>
    </div> 
    <div class="activity">
        <a class="title" th:text="'Summary ' + ${username} + '\'' + 's ' + ' Progress'"></a>
        <div class="recap">
            <span>
                <a>Distance</a> <br>
                <a class="title2" th:text="${sumDistance} + ' km'"></a>
            </span>
            <span>
                <a>Time</a> <br>
                <a class="title2" th:text="${sumDuration}"></a>
            </span>
        </div>
    </div>
    <div class="graph" th:if="${(runList != null and !runList.isEmpty()) or (raceList != null and !raceList.isEmpty())}">
        <a class="title" th:text="${username} + '\'' + 's ' + ${currFilter} + ' Activities'"></a>
        <div id="container"></div>
    </div>
    <div class="contentBody">
        <div th:if="${runList != null and !runList.isEmpty()}">
            <table class="table_race">
                <a class="title">Running Activities</a>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Kind</th>
                        <th>Title</th>
                        <th>Date<a href="#"><img src="/css/Admin/Race/bxs-sort-alt.svg" alt="Sort Icon"></a></th>
                        <th>Start Time<a href="#"><img src="/css/Admin/Race/bxs-sort-alt.svg" alt="Sort Icon"></a></th>
                        <th>Duration<a href="#"><img src="/css/Admin/Race/bxs-sort-alt.svg" alt="Sort Icon"></a></th>
                        <th>Distance<a href="#"><img src="/css/Admin/Race/bxs-sort-alt.svg" alt="Sort Icon"></a></th>
                    </tr>                
                </thead>
                <tbody>
                    <tr th:each="run : ${runList}">
                        <td th:text="Running"></td>
                        <td th:text="${run.kind}"></td>
                        <td th:text="${run.title}"></td>
                        <td th:text="${#dates.format(run.date, 'dd/MM/yyyy')}"></td>
                        <td th:text="${#dates.format(run.time, 'HH:mm:ss')}"></td>
                        <td th:text="${run.duration}"></td>
                        <td th:text="${run.distance} + ' km'"></td>
                    </tr>              
                </tbody>
            </table>
        </div>
        <div th:if="${raceList != null and !raceList.isEmpty()}">
            <table class="table_race">
                <a class="title">Race Activities</a>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Title</th>
                        <th>Date<a href="#"><img src="/css/Admin/Race/bxs-sort-alt.svg" alt="Sort Icon"></a></th>
                        <th>Duration<a href="#"><img src="/css/Admin/Race/bxs-sort-alt.svg" alt="Sort Icon"></a></th>
                        <th>Distance<a href="#"><img src="/css/Admin/Race/bxs-sort-alt.svg" alt="Sort Icon"></a></th>
                    </tr>                
                </thead>
                <tbody> 
                    <tr th:each="race : ${raceList}">
                        <td th:text="Race"></td>
                        <td th:text="${race.title}"></td>
                        <td th:text="${#dates.format(race.race_date, 'dd/MM/yyyy')}"></td>
                        <td th:text="${race.member_duration}"></td>
                        <td th:text="${race.distance} + ' km'"></td>
                    </tr>               
                </tbody>
            </table>
        </div>
    </div>
    <footer class="footer">
        <div class="content2">
            <div class="logo">
              <img class="logo3" src="/css/LandingPage/logo3.svg" />
              <div class="fit-life-studio">YuRun</div>
            </div>
            <div class="links">
              <div class="about2">About</div>
              <div class="contact">Contact</div>
            </div>
            <img class="social" src="/css/LandingPage/social0.svg" />
        </div>
        <div class="divider"></div>
        <div class="credits">
            <div class="row">
              <div class="text-1">© 2024 Shipon. All rights reserved.</div>
              <div class="text-2">Privacy Policy</div>
              <div class="text-2">Terms of Service</div>
              <div class="text-2">Cookies Settings</div>
            </div>
          </div>
    </footer>
</body>
</html>