<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Activity</title>
    <link rel="stylesheet" href="/css/Member/Race/history.css">
    <link rel="stylesheet" href="/css/vars.css">
</head>
<body class="containerBody">
    <nav class="navbar">
        <div class="logo">
            <img src="/css/LandingPage/logo1.svg">
            <a class="yurun">YuRun</a>
        </div>
        <div class="textNavbar">
            <a th:href="@{/member}">Home</a>
            <a th:href="@{/member/activity}">My Activity</a>
            <a class="home" th:href="@{/member/race}">Race</a>
            <a th:href="@{/member/progress}">Progress</a>
        </div>
        <div class="button">
            <a>
                <img src="/css/Admin/HomePage/account-circle0.svg"/>
            </a>
            <a th:href="@{/logout}">
                <img src="/css/Admin/HomePage/logout.svg"/>
            </a>
        </div>
    </nav>
    <div class="header">
        <a class="back" th:href="@{/member/race}">Back</a>
        <form class="filter" method="get" th:action="@{/member/raceActivityHistory}">            
            <div class="search">
                <img class="search-bar" src="/css/Admin/Race/search0.svg"/>
                <input type="text" name="filter" th:value="${filter}" placeholder="Search Title Race Activity" class="search-race" onkeyup=this.form.submit()/>
            </div>
            <select class="dropdown" id="sort" name="sort" onchange="this.form.submit()">
                <option th:value="null" th:selected="${sort == null}">Sort by: Featured</option>
                <option th:value="Distance-Asc" th:selected="${sort == 'Distance-Asc'}">Distance: Short - Long</option>
                <option th:value="Distance-Desc" th:selected="${sort == 'Distance-Desc'}">Distance: Long - Short</option>
                <option th:value="Duration-Asc" th:selected="${sort == 'Duration-Asc'}">Duration: Short - Long</option>
                <option th:value="Duration-Desc" th:selected="${sort == 'Duration-Desc'}">Duration: Long - Short</option>
                <option th:value="Date-Asc" th:selected="${sort == 'Date-Asc'}">Date: Oldest - Newest</option>
                <option th:value="Date-Desc" th:selected="${sort == 'Date-Desc'}">Date: Newest - Oldest</option>
                <option th:value="Status-True" th:selected="${sort == 'Status-True'}">Status Race: Done</option>
            </select>
            <select class="dropdown" id="status" name="status" onchange="this.form.submit()">
                <option th:value="null" th:selected="${status == null}">Filter by: Status Race</option>
                <option th:value="Status-True" th:selected="${status == 'Status-True'}">Status Race: Finished</option>
                <option th:value="Status-False" th:selected="${status == 'Status-False'}">Status Race: Not Finish</option>
            </select>
        </form>
    </div>
    <div class="contentBody" th:if="${activity == null or activity.isEmpty()}">
        <p>No activities available at the moment.</p>
    </div>
    <div class="contentBody">
        <div class="square" th:each="activity : ${activity}">
            <div class="kindText" th:text="${activity.title}"></div>
            <div class="imageContainer">
                <img th:src="${activity.path_pict != null ? '/upload/RaceActivity-member/' + activity.path_pict : '/upload/RaceActivity-member/noPict.jpg'}" 
                     alt="Race Image" class="image">
            </div>
            <div class="detailText">               
                <a th:class="${activity.statusrace && activity.statusmember ? 'status approve' 
                            : (activity.statusrace && !activity.statusmember ? 'status rejected' 
                            : (!activity.statusrace && activity.statusmember ? (activity.path_pict == null ? 'status upload' : 'status waiting') : 'status'))}"
                    th:text="${activity.statusrace && activity.statusmember ? 'Race Approve' 
                            : (activity.statusrace && !activity.statusmember ? 'Race Rejected' 
                            : (!activity.statusrace && activity.statusmember ? (activity.path_pict == null ? 'Please upload your race' : 'Waiting for Approve') : ''))}">
                </a>
                <a class="description" th:text="${activity.description}"></a> 
                <a th:text="${'Distance: ' + activity.distance + ' km'}">Distance</a>
                <a th:text="${'Duration: ' + activity.duration}">Duration</a>
                <div class="detailTime">
                    <a th:text="${#dates.format(activity.start_date, 'd MMMM yyyy')}">Date</a>
                </div>
            </div>
        </div>        
    </div>      
    <footer class="footer">
        <div class="content2">
            <div class="logo">
              <img class="logo3" src="/css/LandingPage/logo3.svg" />
              <div class="fit-life-studio">YuRun</div>
            </div>
            <div class="links">
              <div class="about2">About</div>
              <div class="contact">Contact</div>
            </div>
            <img class="social" src="/css/LandingPage/social0.svg" />
        </div>
        <div class="divider"></div>
        <div class="credits">
            <div class="row">
              <div class="text-1">© 2024 Shipon. All rights reserved.</div>
              <div class="text-2">Privacy Policy</div>
              <div class="text-2">Terms of Service</div>
              <div class="text-2">Cookies Settings</div>
            </div>
        </div>
    </footer>   
</body>
</html>