<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Activity</title>
    <link rel="stylesheet" href="/css/vars.css">
    <link rel="stylesheet" href="/css/Member/Race/uploadRace.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/Member/AddActivity.js" defer></script>
</head>
<body class="containerBody">
    <nav class="navbar">
        <div class="logo">
            <img src="/css/LandingPage/logo1.svg">
            <a class="yurun">YuRun</a>
        </div>
        <div class="textNavbar">
            <a th:href="@{/member}">Home</a>
            <a th:href="@{/member/activity}">My Activity</a>
            <a class="page" th:href="@{/member/race}">Race</a>
            <a th:href="@{/member/progress}">Progress</a>
        </div>
        <div class="button">
            <img src="/css/Admin/HomePage/account-circle0.svg"/>
            <a th:href="@{/logout}">
                <img src="/css/Admin/HomePage/logout.svg"/>
            </a>
        </div>
    </nav>
    <div class="content">
        <form class="frameinput" method="post" th:action="@{/member/uploadRace}" enctype="multipart/form-data">    
            <div class="add-new-activity">Upload Race Activity</div>
            <div class="input1">
                <a>Race: <span th:text="${race.title}"></span></a>
                <a>Distance: <span th:text="${race.distance} + ' km'"></span></a>
            </div>
            <div class="input2">
                <div class="divInput">
                    <div class="headInput">Duration</div>
                    <div class="groupFrame">
                        <input type="number" min="0" max="100" id="hour" name="hour" required class="frame2"/>
                        <span class="textFrame">Hour</span>
                        <input type="number" min="0" max="59" id="minute" name="minute" required class="frame2"/>
                        <span class="textFrame">Minute</span>
                        <input type="number" min="0" max="59" id="second" name="second" required class="frame2"/>
                        <span class="textFrame">Second</span>
                    </div>
                </div>
            </div>
            <div class="input3">
                <div class="divInput">
                    <div class="headInput">Upload Your Picture</div>
                    <input type="file" class="frame7" name="fileImage" id="fileImage" accept="image/*">
                    <img id="thumbnail" src="" alt="Preview Your Picture">
                </div>
            </div>
            <div class="button2">
                <a class="cancel" th:href="@{/member/race}">
                    <div class="cancel2">Cancel</div>
                </a>
                <button class="save" type="submit">
                    <div class="save2">Save</div>
                </button>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="content2">
            <div class="logo">
              <img class="logo3" src="/css/LandingPage/logo3.svg" />
              <div class="fit-life-studio">YuRun</div>
            </div>
            <div class="links">
              <div class="about2">About</div>
              <div class="contact">Contact</div>
            </div>
            <img class="social" src="/css/LandingPage/social0.svg" />
        </div>
        <div class="divider"></div>
        <div class="credits">
            <div class="row">
              <div class="text-1">© 2024 Shipon. All rights reserved.</div>
              <div class="text-2">Privacy Policy</div>
              <div class="text-2">Terms of Service</div>
              <div class="text-2">Cookies Settings</div>
            </div>
          </div>
    </footer>
</body>
</html>