<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/Member/Profile/vars.css">
    <link rel="stylesheet" href="/css/Member/Profile/styles.css">
</head>

<body class="containerBody">
    <nav class="navbar">
        <div class="logo">
            <img src="/css/LandingPage/logo1.svg">
            <a class="yurun">YuRun</a>
        </div>
        <div class="textNavbar">
            <a class="page" th:href="@{/member}">Home</a>
            <a th:href="@{/member/activity}">My Activity</a>
            <a th:href="@{/member/race}">Race</a>
            <a th:href="@{/member/progress}">Progress</a>
        </div>
        <div class="button">
            <a th:href="@{/member/profile}">
                <img src="/css/Admin/HomePage/account-circle0.svg" />
            </a>
            <a th:href="@{/logout}">
                <img src="/css/Admin/HomePage/logout.svg" />
            </a>
        </div>
    </nav>
    <div class="Biodata">
        <div class="tabel">
            <table class="tabel-biodata">
                <tr>
                    <td> Full Name :</td>
                    <td th:text="${user.name}"></td>
                </tr>
                <tr>
                    <td>Email :</td>
                    <td th:text="${user.email}"></td>
                </tr>
                <tr>
                    <td>Password :</td>
                    <td th:text="'*'.repeat(${#strings.length(user.password)})"></td>
                    <td>
                        <form action="/admin/updatePassword" method="get" th:if="${user.status}">
                            <!-- <input type="hidden" name="name" th:value="${user.name}" /> -->
                            <button type="submit" class="edit-button">
                                <img class="edit-icon" src="/css/Admin/UserInformation/vaadin-ban0.svg" alt="Ban">
                            </button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <footer class="footer">
        <div class="content2">
            <div class="logo">
                <img class="logo3" src="/css/LandingPage/logo3.svg" />
                <div class="fit-life-studio">YuRun</div>
            </div>
            <div class="links">
                <div class="about2">About</div>
                <div class="contact">Contact</div>
            </div>
            <img class="social" src="/css/LandingPage/social0.svg" />
        </div>
        <div class="divider"></div>
        <div class="credits">
            <div class="row">
                <div class="text-1">© 2024 Shipon. All rights reserved.</div>
                <div class="text-2">Privacy Policy</div>
                <div class="text-2">Terms of Service</div>
                <div class="text-2">Cookies Settings</div>
            </div>
        </div>
    </footer>
</body>

</html>