body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto-Medium", sans-serif;
}
.containerBody {
  display: grid;
  grid-template-rows: 60px 103px 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "navbar"
    "header"
    "contentBody"
    "footer";
  min-height: 100vh;
  min-width: 100vw;
  overflow: auto;
  justify-content: flex-start;
  align-items: flex-start;
}
.navbar {
  grid-area: navbar;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 40px;
}
.logo {
  display: flex;
  width: 220px;
}
.yurun {
  display: flex;
  color: #141414;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 21px;
  line-height: 120%;
  font-weight: 500;
  align-items: center;
}
.textNavbar {
  display: flex;
  gap: 30px;
  color: #141414;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
}
.textNavbar a {
  text-decoration: none;
  color: #141414;
}
a.home {
  color: #ff5722;
  font-weight: 1000;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  column-gap: 20px;
}
.add {
  background: #ff5722;
  border-radius: 16px;
  width: 179px;
  height: 50px;
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  height: 103px;
  padding-left: 20px;
  column-gap: 30px;
}
.filter {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  column-gap: 10px;
}
.search {
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  border-style: solid;
  border-color: #d0d0d0;
  border-width: 1px;
  border-radius: 10px;
}
.search-bar {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.search-race {
  border: none;
  flex-shrink: 0;
  width: 300px;
  height: 30px;
  padding-left: 10px;
  padding-right: 20px;
  background: none;
}
.dropdown {
  border-radius: 10px;
  border-style: solid;
  border-color: #d0d0d0;
  border-width: 1px;
  flex-shrink: 0;
  width: 200px;
  height: 35px;
  position: relative;
  padding-left: 10px;
  padding-right: 20px;
  background: none;
}
.back {
  text-decoration: none;
  font-size: medium;
  color: #454545;
  border: #141414 2px solid;
  width: 70px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  align-items: center;
}
.contentBody {
  grid-area: contentBody;
  justify-content: center;
  justify-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  font-family: "Roboto-Medium", sans-serif;
}
.square {
  display: grid;
  grid-template-rows: 20px 150px auto auto;
  grid-template-columns: 1fr;
  gap: 10px;
  border: #ff5722 3px solid;
  width: 300px;
  height: auto;
  border-radius: 10px;
  padding: 15px;
}
.kindText {
  font-weight: 600;
  font-size: larger;
  text-align: center;
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  max-height: 150px;
  margin: 0 auto;
}
.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.detailText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  text-align: left;
  font-weight: 500;
  font-size: large;
}
.title {
  font-weight: bold;
}
.description {
  font-weight: normal;
  color: #666;
}
.detailTime {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  font-size: 15px;
  color: gray;
}
.status {
  font-size: 17px;
}
.status.approve {
  background-color: #ccffcc;
  color: #006400;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}
.status.rejected {
  background-color: #ffcccc;
  color: #8b0000;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}
.status.waiting {
  background-color: #ccecff;
  color: #113659;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}
.status.upload {
  background-color: #ffccf9;
  color: #591130;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}
.footer {
  grid-area: footer;
  background: #ffffff;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  height: 110px;
  min-height: 110px;
  margin-top: 20px;
}
.content2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo3 {
  flex-shrink: 0;
  width: 22.48px;
  height: 25px;
}
.fit-life-studio {
  color: #ff5722;
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 21px;
  line-height: 120%;
  font-weight: 600;
}
.links {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
}
.about2 {
  color: #3d3d3d;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}
.contact {
  color: #3d3d3d;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}
.social {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
}
.divider {
  background: #6d6d6d;
  border-style: solid;
  border-color: #454545;
  border-width: 1px;
  height: 1px;
  margin: 20px 0;
}
.credits {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
}
.text-1 {
  color: #3d3d3d;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
}
.text-2 {
  color: #3d3d3d;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  text-decoration: underline;
}