body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.containerBody{
  display: grid;
  grid-template-rows: 60px 103px 25px auto auto;
  grid-template-columns: 1fr;
  grid-template-areas: 
      "navbar"
      "header"
      "note"
      "contentBody"
      "footer";
  min-height: 100vh;
  min-width: 100vw;
  overflow: auto;
  justify-content: flex-start;
  align-items: flex-start;
}    
.navbar {
  grid-area: navbar;
  position: fixed; /* Tetap di posisi atas */
  top: 0; /* Pastikan di bagian paling atas */
  left: 0; /* Mulai dari kiri layar */
  width: 100%; /* Penuhi lebar layar */
  z-index: 1000; /* Letakkan di atas elemen lain */
  background: var(--background-color-primary, #ffffff); /* Pastikan ada warna latar */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px; /* Berikan sedikit padding */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan untuk kesan floating */
  height: 40px;
}
.logo{
  display: flex;
  width: 220px;
}
.yurun{
  display: flex;
  color: var(--neutral-colors-950, #141414);
  font-family: "Roboto-Medium", sans-serif;
  font-size: 21px;
  line-height: 120%;
  font-weight: 500;
  align-items: center;
}
.textNavbar{
  display: flex;
  gap: 30px;
  color: var(--neutral-colors-950, #141414);
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
}
.textNavbar a {
text-decoration: none;
color: var(--neutral-colors-950, #141414);
}
a.page{
color: var(--primary-color-500, #ff5722);
font-weight: 1000;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  column-gap: 20px;
}

/* BAGIAN HEADER */
.header{
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 103px;
}
.filter{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.pagination {
display: inline-block;
}
.pagination a {
color: black;
float: left;
padding: 8px 16px;
text-decoration: none;
}
.pagination a.active {
background-color: #4CAF50;
color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}

.search{
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.search-bar {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.search-race{
  border-radius: 10px;
  border-style: solid;
  border-color: var(--grey-40, #d0d0d0);
  border-width: 1px;
  flex-shrink: 0;
  width: 350px;
  height: 30px;
  position: relative;
  padding-left: 10px;
  padding-right: 20px;
  background: none;
}
.dropdown{
  border-radius: 10px;
  border-style: solid;
  border-color: var(--grey-40, #d0d0d0);
  border-width: 1px;
  flex-shrink: 0;
  width: 200px;
  height: 30px;
  position: relative;
  padding-left: 10px;
  padding-right: 20px;
  background: none;
}
.add {
  background: #ff5722;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.note{
  grid-area: note;
  text-align: right;
  margin-right: 20px;
  font-size: 15px;
}

/* BAGIAN CONTENT */
.contentBody{
  grid-area: contentBody;
  width: 95%;
  justify-self: center;
}
.text3 {
  color: var(--primary-color-500, #ff5722);
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 21px;
  line-height: 120%;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.text3 a {
  text-decoration: none;
  color: inherit;
}

.table_race {
  width: 100%;
  /* margin: 20px auto; */
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  border-spacing: 0;
  border-collapse: separate; 
  border-radius: 10px;
}
thead th {
  background-color: #F5F5F5;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #ff5722;
}
thead th:first-child {
  border-radius: 10px 0 0 10px;
}

thead th:last-child {
  border-radius: 0 10px 10px 0;
}
.table_race td {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #ffffff;
  background-color: #ffc8a8;
}
.table_race tbody td:first-child {
  border-radius: 10px 0 0 10px; 
}
.table_race tbody td:last-child {
  border-radius: 0 10px 10px 0;
}
th a img {
  width: 16px; /* Ubah sesuai kebutuhan */
  height: 16px;
  vertical-align: middle; /* Agar sejajar dengan teks */
  margin-left: 5px; /* Memberi jarak antara teks dan gambar */
}

/* BAGIAN FOOTER */
.footer{
  grid-area: footer;
  background: var(--background-color-primary, #ffffff);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  height: 110px;
}
.content2 {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
align-self: stretch;
flex-shrink: 0;
position: relative;
}
.logo3 {
flex-shrink: 0;
width: 22.48px;
height: 25px;
position: relative;
overflow: visible;
}
.fit-life-studio {
color: var(--primary-color-500, #ff5722);
text-align: left;
font-family: "Roboto-SemiBold", sans-serif;
font-size: 21px;
line-height: 120%;
font-weight: 600;
position: relative;
width: 200px;
}
.links {
display: flex;
flex-direction: row;
gap: 40px;
align-items: flex-start;
justify-content: flex-start;
flex-shrink: 0;
position: relative;
}
.about2 {
color: var(--neutral-colors-900, #3d3d3d);
text-align: left;
font-family: "Roboto-Medium", sans-serif;
font-size: 16px;
line-height: 150%;
font-weight: 500;
position: relative;
}
.contact {
color: var(--neutral-colors-900, #3d3d3d);
text-align: left;
font-family: "Roboto-Medium", sans-serif;
font-size: 16px;
line-height: 150%;
font-weight: 500;
position: relative;
}
.social {
display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
justify-content: flex-end;
flex-shrink: 0;
width: 171px;
height: auto;
position: relative;
overflow: visible;
}
.divider {
background: var(--neutral-colors-500, #6d6d6d);
border-style: solid;
border-color: var(--neutral-colors-800, #454545);
border-width: 1px;
align-self: stretch;
flex-shrink: 0;
height: 1px;
margin: 20px 0;
} 
.credits {
display: flex;
flex-direction: column;
gap: 32px;
align-items: center;
justify-content: flex-start;
align-self: stretch;
flex-shrink: 0;
position: relative;
}
.row {
display: flex;
flex-direction: row;
gap: 24px;
align-items: flex-start;
justify-content: flex-start;
flex-shrink: 0;
position: relative;
}
.text-1 {
color: var(--neutral-colors-900, #3d3d3d);
text-align: left;
font-family: "Roboto-Regular", sans-serif;
font-size: 14px;
line-height: 150%;
font-weight: 400;
position: relative;
}
.text-2 {
color: var(--neutral-colors-900, #3d3d3d);
text-align: left;
font-family: var(--text-small-link-font-family, "Roboto-Regular", sans-serif);
font-size: var(--text-small-link-font-size, 14px);
line-height: var(--text-small-link-line-height, 150%);
font-weight: var(--text-small-link-font-weight, 400);
text-decoration: underline;
position: relative;
}