body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Roboto-Medium", sans-serif;
  overflow: auto;
}
.containerBody {
  display: grid;
  grid-template-rows: 60px 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: "navbar" "content" "footer";
  min-height: 100vh;
  overflow: auto;
  row-gap: 50px;
}
.navbar {
  grid-area: navbar;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 40px;
}
.logo {
  display: flex;
  width: 220px;
}
.yurun {
  display: flex;
  color: #141414;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 21px;
  line-height: 120%;
  font-weight: 500;
  align-items: center;
}
.textNavbar {
  display: flex;
  gap: 30px;
  color: #141414;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.textNavbar a {
  text-decoration: none;
  color: #141414;
}
a.page {
  color: #ff5722;
  font-weight: 1000;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  column-gap: 20px;
}
.content {
  grid-area: content;
}
.frameinput {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding-left: 50px;
  font-family: "Roboto-Medium", sans-serif;
}
input {
  padding-left: 10px;
  font-size: large;
}
.add-new-activity {
  color: #130f26;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
}
.input1 {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.divInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
}
.headInput {
  color: #000000;
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  height: 28px;
}
.groupFrame {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.frame1 {
  border-radius: 6px;
  border: 1px solid #ff5722;
  flex-shrink: 0;
  width: 181px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto-Medium", sans-serif;
}
.textFrame {
  color: #000000;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  align-self: center;
}
.frame2 {
  border-radius: 6px;
  border: 1px solid #ff5722;
  flex-shrink: 0;
  width: 75px;
  height: 35px;
}
.input2 {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}
.frame3 {
  border-radius: 6px;
  border: 1px solid #ff5722;
  flex-shrink: 0;
  width: 500px;
  height: 35px;
}
.frame4 {
  border-radius: 6px;
  border: 1px solid #ff5722;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}
.input3 {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}
.frame5 {
  border-radius: 6px;
  border: 1px solid #ff5722;
  flex-shrink: 0;
  width: 500px;
  height: 230px;
  text-align: left;
  vertical-align: top;
  line-height: 1.5;
  font-family: "Roboto-Medium", sans-serif;
}
textarea {
  padding-left: 10px;
  font-size: large;
}
.button2 {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}
.cancel {
  border-radius: 10px;
  border: 3px solid #ff7347;
  flex-shrink: 0;
  width: 179px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.cancel2 {
  color: #141414;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
.save {
  border-radius: 10px;
  background-color: #ff7347;
  flex-shrink: 0;
  width: 179px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
}
.save2 {
  color: #ffffff;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
#thumbnail {
  max-height: 230px;
}
.footer {
  grid-area: footer;
  background: #ffffff;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  height: 110px;
}
.content2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo3 {
  flex-shrink: 0;
  width: 22.48px;
  height: 25px;
}
.fit-life-studio {
  color: #ff5722;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 21px;
  font-weight: 600;
}
.links {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
}
.about2 {
  color: #3d3d3d;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.contact {
  color: #3d3d3d;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.social {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.divider {
  background: #6d6d6d;
  border: 1px solid #454545;
  height: 1px;
  margin: 20px 0;
}
.credits {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.text-1 {
  color: #3d3d3d;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.text-2 {
  color: #3d3d3d;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  text-decoration: underline;
}