body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}
.containerBody{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "navbar navbar"
        "frame1 frame2"
        "frame3 frame3"
        "footer footer";
    min-height: 100vh;
    min-width: 100vw;
    overflow: auto;
    justify-content: center;
    align-items: center;
}    
.navbar {
    position: fixed; /* Tetap di posisi atas */
    top: 0; /* Pastikan di bagian paling atas */
    left: 0; /* Mulai dari kiri layar */
    width: 100%; /* Penuhi lebar layar */
    z-index: 1000; /* Letakkan di atas elemen lain */
    background: var(--background-color-primary, #ffffff); /* Pastikan ada warna latar */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px; /* Berikan sedikit padding */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan untuk kesan floating */
    height: 40px;
}
.logo{
    display: flex;
    width: 220px;
}
.yurun{
    display: flex;
    color: var(--neutral-colors-950, #141414);
    font-family: "Roboto-Medium", sans-serif;
    font-size: 21px;
    line-height: 120%;
    font-weight: 500;
    align-items: center;
}
.textNavbar{
    display: flex;
    gap: 30px;
    color: var(--neutral-colors-950, #141414);
    font-family: "Roboto-Medium", sans-serif;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
}
.textNavbar a {
    text-decoration: none;
    color: var(--neutral-colors-950, #141414);
}
a.page{
    color: var(--primary-color-500, #ff5722);
    font-weight: 1000;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto-SemiBold", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
    column-gap: 20px;
}
/* BAGIAN FRAME 1 */
.frame1 {
    grid-area: frame1;
    border-radius: 10px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* BAGIAN FRAME 2 */
.frame2 {
    grid-area: frame2;
    border-radius: 10px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
  width: 500px; 
  height: 400px; 
  margin: 10px auto;
}

#download, #download2{
    background: #ff5722;
    border-radius: 13px;
    padding: 10px;
    color: #ffffff;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 13px;
    position: relative;
    left: 0;
    width: fit-content;
}

/* BAGIAN FRAME 3 */
.frame3 {
    grid-area: frame3;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
.text3 {
    color: var(--primary-color-500, #ff5722);
    text-align: left;
    font-family: "Roboto-SemiBold", sans-serif;
    font-size: 21px;
    line-height: 120%;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.text3 a {
    text-decoration: none;
    color: inherit;
}

.table_race {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    font-family: "Roboto-Medium", sans-serif;
    border-spacing: 0;
    border-collapse: separate; 
    border-radius: 10px;
}
thead th {
    background-color: #f02e06;
    border: 1.5px solid #ffe6d4;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #fff4ed;
}
thead th:first-child {
    border-radius: 10px 0 0 10px;
}

thead th:last-child {
    border-radius: 0 10px 10px 0;
}
.table_race td {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border: 1.5px solid #ffc8a8;
}
.table_race tbody td:first-child {
    border-radius: 10px 0 0 10px; 
}
.table_race tbody td:last-child {
    border-radius: 0 10px 10px 0;
}