<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YuRun</title>
    <link rel="stylesheet" href="/css/vars.css">
    <link rel="stylesheet" href="/css/LandingPage/styles.css">
    <script src="/js/LandingPage/script.js" defer></script>

</head>
<body class="container">
    <nav class="navbar">
        <div class="logo">
            <img src="/css/LandingPage/logo1.svg">
            <a class="yurun">YuRun</a>
        </div>
        <div class="textNavbar">
            <a class="page">Home</a>
            <a>About</a>
            <a th:href="@{/race}">Race</a>
        </div>
        <button class="button">
            <a class="buttonText" th:href="@{/login}">Join Now</a>
        </button>
    </nav>
    <div class="frame1">
        <div class="left">
            <a class="a1">Track</a><br>
            <a class="a2">Your Run</a><br>
            <div class="a3">
                Track Your Strides, Achieve Your Goals.
            </div>
            <a class="getStarted" th:href="@{/login}">Get Started <img class="chevron-right" src="/css/LandingPage/chevron-right0.svg" /></a>
        </div>
        <div class="right">
            <img class="image" src="/images/image-10.png"/>
        </div>
        <div class="ellipse-4"></div>
    </div>
    <div class="frame2">
        <div class="left2">
            <div class="list">
                <div class="item">
                    <img class="vector-item" src="/css/LandingPage/vector2.svg"/>
                    <a class="header-item">Be Healthy</a><br>
                </div>
                <a class="text-item">Improve your physical fitness and well-being through regular running.</a>
            </div>
            <br>
            <div class="list">
                <div class="item">
                    <img class="vector-item" src="/css/LandingPage/vector2.svg"/>
                    <a class="header-item">Feel Free</a><br>
                </div>
                <a class="text-item">Experience the freedom of running outdoors and challenging yourself.</a>
            </div>
        </div>
        <div class="mid2">
            <img class="image2" src="/images/image-20.png" />
        </div>
        <div class="right2">
            <div class="list">
                <div class="item">
                    <img class="vector-item" src="/css/LandingPage/vector2.svg"/>
                    <a class="header-item">Be One of Us</a><br>
                </div>
                <a class="text-item">Join a supportive community of like-minded runners and achieving goals together.</a>
            </div>
            <br>
            <div class="list">
                <div class="item">
                    <img class="vector-item" src="/css/LandingPage/vector2.svg"/>
                    <a class="header-item">Be Strong</a><br>
                </div>
                <a class="text-item">Build resilience and mental toughness as you push your limits.</a>
            </div>
        </div>
    </div>
    <div class="frame-container">
        <div class="frame3" th:each="race : ${listRace}">
            <div class="left3">
                <img class="image-3" src="/images/image-30.png"/>
            </div>
            <div class="right3">
                <a class="right3-item1" th:text="${race.title}" th:href="@{/race}"></a>
                <div class="right3-item2">
                    <img class="icon3" src="/css/LandingPage/icon0.svg"/>
                    <div class="text3" th:text="${#dates.format(race.start_date, 'd MMMM yyyy')}"></div>
                </div>
                <div class="right3-item2">
                    <img class="icon3" src="/css/LandingPage/icon1.svg"/>
                    <div class="text3" th:text="${race.time}"></div>
                </div>
                <div class="right3-item2">
                    <img class="icon3" src="/css/LandingPage/vector5.svg"/>
                    <div class="text3" th:text="${race.distance} + ' km'"></div>
                </div>
            </div>
        </div>
    </div>              
    <footer class="footer">
        <div class="content2">
            <div class="logo">
              <img class="logo3" src="/css/LandingPage/logo3.svg" />
              <div class="fit-life-studio">YuRun</div>
            </div>
            <div class="links">
              <div class="about2">About</div>
              <div class="contact">Contact</div>
            </div>
            <img class="social" src="/css/LandingPage/social0.svg" />
        </div>
        <div class="divider"></div>
        <div class="credits">
            <div class="row">
              <div class="text-1">© 2024 Shipon. All rights reserved.</div>
              <div class="text-2">Privacy Policy</div>
              <div class="text-3">Terms of Service</div>
              <div class="text-4">Cookies Settings</div>
            </div>
          </div>
    </footer>
</body>
</html>