<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/LandingPage/vars.css">
  <link rel="stylesheet" href="/css/LandingPage/style.css">
  <title>Landing Page</title>
</head>
<body class="landing-page">
  <nav class="navbar">
    <div class="logo">
      <img class="logo2" src="/css/LandingPage/logo1.svg" />
      <div class="yu-run">YuRun</div>
    </div>
    <div class="page">
      <div class="home">Home</div>
      <div class="about">About</div>
      <div class="race">Race</div>
    </div>
    <div class="button">
      <div class="join-now">Join Now</div>
      <img class="vector" src="/css/LandingPage/vector0.svg" />
    </div>
  </nav>
  <div class="frame-1">
    <div class="button2">
      <div class="join-now">Get Started</div>
      <img class="chevron-right" src="/css/LandingPage/chevron-right0.svg" />
    </div>
    <div class="text">
      Their guidelines recommend 150 minutes of moderate-intensity aerobic
      physical activity each week or vigorous-intensity aerobic
    </div>
    <div class="your-run">Your Run</div>
    <div class="track">Track</div>
    <img class="image1" src="/images/image-10.png" />
  </div>
  <div class="frame-2">
    <div class="heading">Running’s Benefits</div>
    <div class="content">
      <div class="kiri">
        <div class="list">
          <div class="list-item">
            <img class="vector2" src="/css/LandingPage/vector1.svg" />
            <div class="header">
              <span>
                <span class="header-span">Be</span>
                <span class="header-span2">Healthy</span>
              </span>
            </div>
          </div>
          <div class="text2">
            Improve your physical fitness and well-being through regular
            running.
          </div>
        </div>
        <div class="list">
          <div class="list-item">
            <img class="vector3" src="/css/LandingPage/vector2.svg" />
            <div class="header2">Feel Free</div>
          </div>
          <div class="text2">
            Experience the freedom of running outdoors and challenging yourself.
          </div>
        </div>
      </div>
      <img class="image-2" src="/images/image-20.png" />
      <div class="kanan">
        <div class="list">
          <div class="list-item">
            <img class="vector4" src="/css/LandingPage/vector3.svg" />
            <div class="header3">Be One of Us</div>
          </div>
          <div class="text2">
            Join a supportive community of like-minded runners and achieve goals
            together.
          </div>
        </div>
        <div class="list">
          <div class="list-item">
            <img class="vector5" src="/css/LandingPage/vector4.svg" />
            <div class="header3">Be Strong</div>
          </div>
          <div class="text2">
            Build resilience and mental toughness as you push your limits.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="frame-3">
    <div class="list-item2">
      <img class="icon" src="/css/LandingPage/icon0.svg" />
      <div class="text3">1 January 2025</div>
    </div>
    <div class="list-item3">
      <img class="icon2" src="/css/LandingPage/icon1.svg" />
      <div class="text3">07.00</div>
    </div>
    <div class="list-item4">
      <img class="vector6" src="/css/LandingPage/vector5.svg" />
      <div class="text3">5 kilometers</div>
    </div>
    <div class="heading2">Title Running</div>
    <img class="image-3" src="/images/image-30.png" />
  </div>
  <footer class="footer">
    <div class="content2">
      <div class="logo">
        <img class="logo3" src="/css/LandingPage/logo3.svg" />
        <div class="fit-life-studio">FitLife Studio</div>
      </div>
      <div class="links">
        <div class="about2">About</div>
        <div class="contact">Contact</div>
      </div>
      <img class="social" src="/css/LandingPage/social0.svg" />
    </div>
    <div class="credits">
      <div class="divider"></div>
      <div class="row">
        <div class="text-1">© 2024 Shipon. All rights reserved.</div>
        <div class="text-2">Privacy Policy</div>
        <div class="text-3">Terms of Service</div>
        <div class="text-4">Cookies Settings</div>
      </div>
    </div>
  </footer>
  <div class="ellipse-4"></div>
</body>
</html>