/* CSS MEMBER */
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.containerBody {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 50px auto auto auto;
  grid-template-columns: 550px auto auto;
  grid-template-areas: 
      ". . addActivity"
      "graph1 graph2 recap"
      "activity activity recap"
      "footer footer footer";
  padding-top: 80px;
  width: 100%;
}

/* BAGIAN NAVBAR */
.navbar {
  position: fixed; /* Tetap di posisi atas */
  top: 0; /* Pastikan di bagian paling atas */
  left: 0; /* Mulai dari kiri layar */
  width: 100%; /* Penuhi lebar layar */
  z-index: 1000; /* Letakkan di atas elemen lain */
  background: var(--background-color-primary, #ffffff); /* Pastikan ada warna latar */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px; /* Berikan sedikit padding */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan untuk kesan floating */
  height: 40px;
}
.logo{
  display: flex;
  width: 220px;
}
.yurun{
  display: flex;
  color: var(--neutral-colors-950, #141414);
  font-family: "Roboto-Medium", sans-serif;
  font-size: 21px;
  line-height: 120%;
  font-weight: 500;
  align-items: center;
}
.textNavbar{
  display: flex;
  gap: 30px;
  color: var(--neutral-colors-950, #141414);
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.textNavbar a {
  text-decoration: none;
  color: var(--neutral-colors-950, #141414);
}
a.page{
  color: var(--primary-color-500, #ff5722);
  font-weight: 1000;
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  column-gap: 20px;
}
/* BUTTON ADD ACTIVITY */
.addActivity {
  grid-area: addActivity;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.buttonAdd{
  background: #ff5722;
  border-radius: 16px;
  width: 179px;
  height: 50px;
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.graph1 {
  grid-area: graph1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.left{
  font-family: "Poppins-Regular", sans-serif;
  font-weight: 600;
  color: #FF5722;
  padding-left: 10px;
  font-size: 40px;
  letter-spacing: 0.13em;
  font-style: italic;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
}
#container {
  width: 500px; 
  height: 400px; 
  margin-left: 10px;
}
#download{
  display: flex;
  justify-self: flex-end;
  margin-right: 50px;
  background: #ff5722;
  border-radius: 13px;
  padding: 10px;
  color: #ffffff;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
}
.graph2 {
  grid-area: graph2;
}
.graph2Header {
  color: #130f26;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.listInfo {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.info1{
  background: #f09564;
  border-radius: 91.49px;
  padding: 23.79px 21.96px 23.79px 21.96px;
  display: flex;
  flex-direction: row;
  gap: 9.15px;
  align-items: center;
  flex-shrink: 0;
  width: 300px;
  height: 50px;
  position: relative;
  box-shadow: 0px 21.04px 38.42px 0px rgba(0, 0, 0, 0.15);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.listInfo .info1:nth-child(2) {
  background-color: #c71e07;
}
.info1Text{
  color: white;
  font-family: "Roboto-Bold", sans-serif;
  line-height: 140%;
  font-weight: 600;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  letter-spacing: 2px;
}
.infoText{
  font-family: "Roboto-Medium", sans-serif;
  color: #fff4ed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.recap {
  grid-area: recap;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 15px;
}
.recap1, .recap2 {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.frame3Header {
  color: #ff5722;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.myRaceList{
  border-radius: 24px;
  border-style: solid;
  border-color: #8a2100;
  border-width: 3px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  font-family: "Roboto-SemiBold", sans-serif;
}
.headerMyRace{
  color: #452f02;
  text-align: left;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
.infoMyRace{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.activity{
  grid-area: activity;
  padding-left: 20px;
  width: 95%;
  box-sizing: border-box;
}
.text3 {
  color: var(--primary-color-500, #ff5722);
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 21px;
  line-height: 120%;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.text3 a {
  text-decoration: none;
  color: inherit;
}

.table_race {
  width: 100%;
  margin: 20px auto;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  border-spacing: 0;
  border-collapse: separate; 
  border-radius: 10px;
}
thead th {
  background-color: #f02e06;
  border: 1.5px solid #ffe6d4;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #fff4ed;
}
thead th:first-child {
  border-radius: 10px 0 0 10px;
}

thead th:last-child {
  border-radius: 0 10px 10px 0;
}
.table_race td {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border: 1.5px solid #ffc8a8;
}
.table_race tbody td:first-child {
  border-radius: 10px 0 0 10px; 
}
.table_race tbody td:last-child {
  border-radius: 0 10px 10px 0;
}

/* BAGIAN FOOTER */
.footer{
  grid-area: footer;
  background: var(--background-color-primary, #ffffff);
  padding: 10px 20px; /* Berikan sedikit padding */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan untuk kesan floating */
  display: flex;
  flex-direction: column;
  height: 110px;
}
.content2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo3 {
  flex-shrink: 0;
  width: 22.48px;
  height: 25px;
  position: relative;
  overflow: visible;
}
.fit-life-studio {
  color: var(--primary-color-500, #ff5722);
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 21px;
  line-height: 120%;
  font-weight: 600;
  position: relative;
  width: 200px;
}
.links {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.about2 {
  color: var(--neutral-colors-900, #3d3d3d);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
}
.contact {
  color: var(--neutral-colors-900, #3d3d3d);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
}
.social {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 171px;
  height: auto;
  position: relative;
  overflow: visible;
}
.divider {
  background: var(--neutral-colors-500, #6d6d6d);
  border-style: solid;
  border-color: var(--neutral-colors-800, #454545);
  border-width: 1px;
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  margin: 20px 0;
} 
.credits {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text-1 {
  color: var(--neutral-colors-900, #3d3d3d);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}
.text-2 {
  color: var(--neutral-colors-900, #3d3d3d);
  text-align: left;
  font-family: var(--text-small-link-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--text-small-link-font-size, 14px);
  line-height: var(--text-small-link-line-height, 150%);
  font-weight: var(--text-small-link-font-weight, 400);
  text-decoration: underline;
  position: relative;
}