<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/vars.css">
    <link rel="stylesheet" href="/css/Register/styles.css">
    <script src="/js/Register/passwordEye.js" defer ></script>
    <title>Register</title>
</head>
<body>
    <img src="/css/LandingPage/logo1.svg" class="background-image">
    <div class="content">
        <div class="left">
            <a>Track Your Strides <br> Achieve Your Goals</a>
        </div>
        <div class="right">
            <!-- Error message section -->
            <div class="error-message" th:if="${error}">
                <p th:text="${error}"></p>
            </div>
            <div>
                <a class="label"><img src="/css/LandingPage/logo1.svg">YuRun</a>
                <div class="header">Welcome to YuRun</div>
            </div>
            <form class="form" th:action="@{/register}" method="post" th:object="${registerUser}">
                <div class="full-name">
                    <div class="label">Full Name</div>
                    <div class="input">
                        <input type="name" name="name" th:field="*{name}" placeholder="Enter your full name" required>
                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></div>
                    </div>
                </div>
                <div class="email">
                    <div class="label">Email</div>
                    <div class="input">
                        <input type="email" id="email" name="email" th:field="*{email}" placeholder="Enter your email" required>
                        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></div>
                    </div>
                </div>
                <div class="password">
                    <div class="label">Password</div>
                    <div class="input-pass">
                        <input type="password" name="password" id="passwordInput" th:field="*{password}" placeholder="Enter your password"  required>
                        <img src="/images/eye-close.png" id="eyeiconPass" > 
                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></div>
                    </div>
                </div>
                <div class="confirm-password">
                    <div class="label">Confirm Password</div>
                    <div class="input-pass">
                        <input type="password" name="confirmPassword" id="confrimInput"  th:field="*{confirmPassword}" placeholder="Enter your password again" required>
                        <img src="/images/eye-close.png" id="eyeiconConfrim" >
                        <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="error"></div>
                    </div>
                </div>
                <div class="button">
                    <button type="submit">Register</button>
                </div>
            </form>    
            <div class="signin">
                <span class="already-have-an-account-sign-in">Already have an account?</span>
                <a href="/login" class="text2">Login</a>
            </div>
        </div>
    </div>
</body>
</html>