<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Login/vars.css">
    <link rel="stylesheet" href="/css/Login/style.css">
    <!-- <script src="/js/Login/script.js" defer></script> -->
</head>
<body>
    <div class="login"
    style="
        background: url(login.png) center;
        background-size: cover;
        background-repeat: no-repeat;">
        <img class="image" src="/images/login.png"/>
        <div class="you-don-t-have-an-account-sign-up">
            <span>
            <span class="you-don-t-have-an-account-sign-up-span">
                You don&#039;t have an account?
            </span>
            <span class="you-don-t-have-an-account-sign-up-span2"></span>
            <span class="you-don-t-have-an-account-sign-up-span3">Sign up</span>
            </span>
        </div>
        <div class="form">
            <div class="input">
            <div class="label">Email</div>
            <div class="input2"></div>
            </div>
            <div class="input">
            <div class="label">Password</div>
            <div class="input2"></div>
            </div>
            <div class="primary-button">
            <div class="sign-in">Sign in</div>
            </div>
        </div>
        <div class="welcome-back">Welcome Back</div>
    </div>
</body>
</html>