<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/Admin/HomePage/styles.css">
    <link rel="stylesheet" href="/css/vars.css">
    <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script  src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/Admin/HomePage.js" defer></script>
</head>
<body class="containerBody">
    <nav class="navbar">
        <div class="logo">
            <img src="/css/LandingPage/logo1.svg">
            <a class="yurun">YuRun</a>
        </div>
        <div class="textNavbar">
            <a th:href="@{/admin}" class="page">Home</a>
            <a th:href="@{/admin/userInfo}">User Information</a>
            <a th:href="@{/admin/race}">Race</a>
        </div>
        <div class="button">
            <a th:href="@{/profile}">
                <img src="/css/Admin/HomePage/account-circle0.svg" />
            </a>
            <a th:href="@{/logout}">
                <img src="/css/Admin/HomePage/logout.svg"/>
            </a>
        </div>
    </nav>
    <div class="frame1">
        <div>
            <div id="container"></div>
        </div>   
        <a id="download">Download PNG</a>
    </div>
    <div class="frame2">
        <div>
            <div id="container2" style="height: 400px"></div>
        </div> 
        <a id="download2">Download PNG</a>
    </div>
    <div class="frame3">
        <div class="text3">
            <a href="#">Time Line Race</a>
            <a th:href="@{/admin/race}">Show All</a>
        </div>
        <hr>
        <table class="table_race">
            <thead>
                <tr>
                  <th>Title</th>
                  <th>Start Date</th>
                  <th>Time</th>
                  <th>Distance</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="race : ${race}">
                    <td th:text="${race.title}"></td>
                    <td th:text="${#dates.format(race.start_date, 'dd/MM/yyyy')}"></td>
                    <td th:text="${race.time}"></td>
                    <td th:text="${race.distance} + ' km'"></td>
                </tr>                
            </tbody>
        </table>
    </div>
</body>
</html>