body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    background-color: #f2ddcf;
    position: relative;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 10%;
    left: 6%;
    width: 40%;
    opacity: 0.3;
    z-index: -1; 
}

.content {
    right: 7%;
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    position: relative;
    z-index: 1;
    column-gap: 10px;
}

.left{
    grid-area: left;
    font-family: "Poppins-Regular", sans-serif;
    font-weight: 600;
    color: #651800;
    position: relative;
    font-size: 40px;
    top: 70%;
    letter-spacing: 0.13em;
    font-style: italic;
    background: linear-gradient(90deg, #FF5722, #FF8A65);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.right{
    background: rgba(250, 179, 98, 0.3);
    backdrop-filter: blur(10.67px);
    border-radius: 24px;
    padding: 25px;
    grid-area: right;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.header {
    color: var(--primary-primary900, #8a2100);
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0.01em;
    font-weight: 600;
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}

.label {
    color: var(--primary-primary900, #8a2100);
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.01em;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px; /* Tambahkan jarak antara label dan input */
}

.input input {
    background: var(--secondary-secondary100, #e7ebef);
    border-radius: 12px;
    border: 1px solid var(--secondary-secondary100, #e7ebef);
    width: 350px;
    height: 50px;
    padding: 0 12px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    outline: none;
}
  
.input input:focus {
    border-color: var(--secondary-secondary200, #c3c9cf);
    background: var(--secondary-secondary50, #ffffff);
}
  
.button button {
    background: var(--primary-primary, #ff5722);
    border: none;
    color: var(--primary, #333);
    border-radius: 12px;
    width: 350px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.signin {
    color: var(--secondary-secondary1000, #323f49);
    font-family: "Roboto-Regular", sans-serif;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.01em;
    font-weight: 400;
}
.text2 {
    color: var(--primary-primary1000, #651800);
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700;
    text-decoration: underline;
}

.error{
    font-family: "Roboto-Regular", sans-serif;
    color: #cc0000;
    margin-top: 2px;
    font-size: 15px;
    background-color: #ffcccc;
    border-radius: 12px;
    border: 1px solid #cc0000;
    padding: 4px 0 4px 6px;
}

.error-message {
    display: none;
    background-color: #ffcccc;
    color: #cc0000;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    border: 1px solid #cc0000;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 20px;
}

.error-message:not(:empty) {
    display: block;
}


.input-pass{
    display: flex;
    position: relative;
    flex-direction: column;
}
.input-pass input{
    background: var(--secondary-secondary100, #e7ebef);
    border-radius: 12px;
    border: 1px solid var(--secondary-secondary100, #e7ebef);
    width: 350px;
    /* width: 100%; */
    height: 50px;
    /* padding: 0 12px; */
    padding: 0 50px 0 12px; 
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    outline: none;
}
.input-pass img{
    position: absolute;
    right: 12px; /* Jarak ikon dari sisi kanan */
    width: 25px; /* Ukuran ikon */
    height: 25px;
    top: 20%;
    cursor: pointer;
}



