<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/LandingPage/vars.css">
    <link rel="stylesheet" href="/css/Member/HomePage/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/Member/HomePage.js" defer></script>

</head>
<body class="containerBody">
    <nav class="navbar">
        <div class="logo">
            <img src="/css/LandingPage/logo1.svg">
            <a class="yurun">YuRun</a>
        </div>
        <div class="textNavbar">
            <a class="page" th:href="@{/member}">Home</a>
            <a th:href="@{/member/activity}">My Activity</a>
            <a th:href="@{/member/race}">Race</a>
        </div>
        <div class="button">
            <a>
                <img src="/css/Admin/HomePage/account-circle0.svg"/>
            </a>
            <a th:href="@{/logout}">
                <img src="/css/Admin/HomePage/logout.svg"/>
            </a>
        </div>
    </nav>
    <div class="addActivity">
        <button class="buttonAdd">
            <a class="buttonText">+ Add Activity</a>
        </button>
    </div>
    <div class="graph1">
        <button id="download">Download PNG</button>
        <div>
            <div id="container"></div>
        </div>
    </div>
    <div class="graph2">
        <div class="graph2Header">Your Achievements</div>
        <div class="listInfo">
            <div class="info1">
                <img src="/css/Member/HomePage/vector0.svg">
                <a class="info1Text">Activites</a>
                <a>test3</a>
            </div>
            <div class="info2">
                <img src="/css/Member/HomePage/icon.svg">
                <a class="info1Text">Minutes</a>
                <a>test3</a>
            </div>
            <div class="info1">
                <img src="/css/Member/HomePage/vector.svg">
                <a class="info1Text">Race</a>
                <a>test3</a>
            </div>
        </div>
    </div>
    <div class="yourRace">
        <div class="frame3Header">Your Race</div>
        <!-- Loop melalui aktivitas -->
        <div th:each="race : ${races}" class="myRaceList">
            <div class="headerMyRace" th:text="${race.title}"></div>
            <div class="infoMyRace">
                <img src="/css/Member/HomePage/calendar-010.svg">
                <span th:text="${#dates.format(race.start_date, 'dd/MM/yyyy')}"></span> <!-- Format tanggal -->
            </div>
            <div class="infoMyRace">
                <img src="/css/Member/HomePage/alarm-010.svg">
                <span th:text="${race.time}"></span> <!-- Format waktu -->
            </div>
        </div>
    </div>    
    <div class="activity">
        <div class="text3">
            <a href="#">Your New Activity</a>
            <a th:href="@{/member/activity}">Show All</a>
        </div>
        <hr>
        <table class="table_race">
            <thead>
                <tr>
                  <th>Title</th>
                  <th>Kind</th>
                  <th>Distance</th>
                  <th>Duration</th>
                  <th>Date</th>
                  <th>Time</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="activity : ${activity}">
                    <td th:text="${activity.title}"></td>
                    <td th:text="${activity.kind}"></td>
                    <td th:text="${activity.distance} + ' km'"></td>
                    <td th:text="${activity.duration}"></td>
                    <td th:text="${#dates.format(activity.date, 'dd/MM/yyyy')}"></td>
                    <td th:text="${activity.time}"></td>
                </tr>                
            </tbody>
        </table>
    </div>
    <div class="upRace">
        <div class="frame3Header">UpComing Race</div>
        <!-- Loop melalui aktivitas -->
        <div th:each="upRace : ${upRaces}" class="myRaceList">
            <div class="headerMyRace" th:text="${upRace.title}"></div>
            <div class="infoMyRace">
                <img src="/css/Member/HomePage/calendar-010.svg">
                <span th:text="${#dates.format(upRace.start_date, 'dd/MM/yyyy')}"></span> <!-- Format tanggal -->
            </div>
            <div class="infoMyRace">
                <img src="/css/Member/HomePage/alarm-010.svg">
                <span th:text="${upRace.time}"></span> <!-- Format waktu -->
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="content2">
            <div class="logo">
              <img class="logo3" src="/css/LandingPage/logo3.svg" />
              <div class="fit-life-studio">FitLife Studio</div>
            </div>
            <div class="links">
              <div class="about2">About</div>
              <div class="contact">Contact</div>
            </div>
            <img class="social" src="/css/LandingPage/social0.svg" />
        </div>
        <div class="divider"></div>
        <div class="credits">
            <div class="row">
              <div class="text-1">© 2024 Shipon. All rights reserved.</div>
              <div class="text-2">Privacy Policy</div>
              <div class="text-3">Terms of Service</div>
              <div class="text-4">Cookies Settings</div>
            </div>
          </div>
    </footer>
</body>
</html>