body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.containerBody{
  display: grid;
  grid-template-rows: 60px 103px auto auto;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "navbar"
    "header"
    "contentBody"
    "footer";
  min-height: 100vh;
  min-width: 100vw;
  overflow: auto;
  justify-content: flex-start;
  align-items: flex-start;
}    
.navbar {
  grid-area: navbar;
  position: fixed; /* Tetap di posisi atas */
  top: 0; /* Pastikan di bagian paling atas */
  left: 0; /* Mulai dari kiri layar */
  width: 100%; /* Penuhi lebar layar */
  z-index: 1000; /* Letakkan di atas elemen lain */
  background: var(--background-color-primary, #ffffff); /* Pastikan ada warna latar */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px; /* Berikan sedikit padding */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan untuk kesan floating */
  height: 40px;
}
.logo{
  display: flex;
  width: 220px;
}
.yurun{
  display: flex;
  color: var(--neutral-colors-950, #141414);
  font-family: "Roboto-Medium", sans-serif;
  font-size: 21px;
  line-height: 120%;
  font-weight: 500;
  align-items: center;
}
.textNavbar{
  display: flex;
  gap: 30px;
  color: var(--neutral-colors-950, #141414);
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.textNavbar a {
  text-decoration: none;
  color: var(--neutral-colors-950, #141414);
}
a.page{
  color: var(--primary-color-500, #ff5722);
  font-weight: 1000;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  column-gap: 20px;
}
.add {
  background: #ff5722;
  border-radius: 16px;
  width: 179px;
  height: 50px;
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

/* BAGIAN HEADER */
.header{
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 103px;
}
.filter{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.pagination {
  display: inline-block;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination a.active {
  background-color: #4CAF50;
  color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}

.search{
  display: flex;
  padding-right: 10px;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.search-bar {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}
.search-race{
    border-radius: 10px;
    border-style: solid;
    border-color: var(--grey-40, #d0d0d0);
    border-width: 1px;
    flex-shrink: 0;
    width: 350px;
    height: 30px;
    position: relative;
    padding-left: 10px;
    padding-right: 20px;
    background: none;
}
.dropdown{
    border-radius: 10px;
    border-style: solid;
    border-color: var(--grey-40, #d0d0d0);
    border-width: 1px;
    flex-shrink: 0;
    width: 200px;
    height: 30px;
    position: relative;
    padding-left: 10px;
    padding-right: 20px;
    background: none;
}

.contentBody {
    grid-area: contentBody;
    justify-content: center;
    justify-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    font-family: "Roboto-Medium", sans-serif;
}
.square {
    display: grid;
    grid-template-rows: auto 150px 1fr auto;
    grid-template-columns: 1fr; /* Semua elemen dalam satu kolom */
    gap: 10px; /* Jarak antar elemen */
    background: #fbf5f0;
    border: #ff5722 3px solid;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    padding: 15px;
}

.kindText {
    font-weight: 600;
    font-size: larger;
    text-align: center; /* Lurus di tengah */
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    max-height: 150px;
    margin: 0 auto;
}

.image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Pastikan gambar tetap proporsional */
    border-radius: 5px;
    border: 1px solid #ccc;
}

.detailText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px; /* Jarak antar teks */
    text-align: left; /* Lurus di kiri */
    font-weight: 500;
    font-size: large;
}
.title {
    font-weight: bold; /* Membuat teks title lebih tebal */
}
.description {
    font-weight: normal; /* Membuat teks description normal */
    color: #666; /* Opsional: Gunakan warna abu-abu untuk membedakan */
}
.detailTime {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    font-size: small;
    color: gray;
}
.actionButton {
    display: flex;
    justify-content: center;
    gap: 20px; /* Jarak antar tombol */
    align-items: center;
    margin-top: auto; /* Dorong ke bawah */
}

.delete {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    border-radius: 10px;
    font-size: large;
    color: #c71e07;
    font-weight: 500;
    width: 125px;
    height: 40px;
    text-decoration: none;
    border: #ff5722 2px solid;
}

.edit {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff5722;
    column-gap: 10px;
    color: #ffffff;
    border-radius: 10px;
    font-size: large;
    width: 125px;
    height: 40px;
    text-decoration: none;
}

/* BAGIAN FOOTER */
.footer{
    grid-area: footer;
    background: var(--background-color-primary, #ffffff);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    height: 110px;
    margin-top: 20px;
  }
  .content2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .logo3 {
    flex-shrink: 0;
    width: 22.48px;
    height: 25px;
    position: relative;
    overflow: visible;
  }
  .fit-life-studio {
    color: var(--primary-color-500, #ff5722);
    text-align: left;
    font-family: "Roboto-SemiBold", sans-serif;
    font-size: 21px;
    line-height: 120%;
    font-weight: 600;
    position: relative;
    width: 200px;
  }
  .links {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .about2 {
    color: var(--neutral-colors-900, #3d3d3d);
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    position: relative;
  }
  .contact {
    color: var(--neutral-colors-900, #3d3d3d);
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    position: relative;
  }
  .social {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 171px;
    height: auto;
    position: relative;
    overflow: visible;
  }
  .divider {
    background: var(--neutral-colors-500, #6d6d6d);
    border-style: solid;
    border-color: var(--neutral-colors-800, #454545);
    border-width: 1px;
    align-self: stretch;
    flex-shrink: 0;
    height: 1px;
    margin: 20px 0;
  } 
  .credits {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .row {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .text-1 {
    color: var(--neutral-colors-900, #3d3d3d);
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    position: relative;
  }
  .text-2 {
    color: var(--neutral-colors-900, #3d3d3d);
    text-align: left;
    font-family: var(--text-small-link-font-family, "Roboto-Regular", sans-serif);
    font-size: var(--text-small-link-font-size, 14px);
    line-height: var(--text-small-link-line-height, 150%);
    font-weight: var(--text-small-link-font-weight, 400);
    text-decoration: underline;
    position: relative;
  }