<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    <link rel="stylesheet" href="/css/Admin/UserInformation/styles.css">
    <script src="/js/Admin/UserInformation.js" defer></script>
</head>

<body class="container">
    <nav class="navbar">
        <div class="logo">
            <img src="/css/LandingPage/logo1.svg">
            <a class="yurun">YuRun</a>
        </div>
        <div class="textNavbar">
            <a th:href="@{/admin/home}">Home</a>
            <a th:href="@{/admin/userInfo}" class="page">User Information</a>
            <a th:href="@{/admin/race}">Race</a>
        </div>
        <div class="button">
            <a th:href="@{/profileAdmin}">
                <img src="/css/Admin/HomePage/account-circle0.svg" />
            </a>
            <a th:href="@{/logout}">
                <img src="/css/Admin/HomePage/logout.svg"/>
            </a>
        </div>
    </nav>
    <div class="body">
        <div class="header">
            <form class="filter" method="get" th:action="@{/admin/userInfo}">
                <div class="entries">
                    Show <select id="entries" name="entries" onchange="this.form.submit()">
                        <option th:value="0" th:selected="${entries == 0}">All</option>
                        <option th:value="5" th:selected="${entries == 5}">5</option>
                        <option th:value="10" th:selected="${entries == 10}">10</option>
                        <option th:value="15" th:selected="${entries == 15}">15</option>
                        <option th:value="20" th:selected="${entries == 20}">20</option>
                    </select> entries
                </div>
                <!--FORM FOR SEARCHING-->
                <div class="search">
                    <img class="search-bar" src="/css/Admin/Race/search0.svg"/>
                    <input type="text" name="filter" th:value="${filter}" placeholder="Search Member" class="search-race" input=this.form.submit()/>
                </div>
                <select class="dropdown" id="statusMember" name="statusMember" onchange="this.form.submit()" required>
                    <option value="null" th:selected="${statusMember == 'null'}">All Status Member</option>
                    <option th:value="true" th:selected="${statusMember == 'true'}">Active</option>
                    <option th:value="false" th:selected="${statusMember == 'false'}">Disable</option>
                </select>
            </form>
        </div>
        <div class="contentBody" th:if="${userList == null or userList.isEmpty()}">
            <p>No members found at the moment.</p>
        </div>
        <div class="contentBody" th:if="${userList != null and !userList.isEmpty()}">
            <div class="tabel">
                <table class="member-table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user, stat : ${userList}">
                            <td th:text="${stat.index + 1}"></td> <!-- Nomor urut -->
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.status ? 'Active' : 'Banned'}" th:class="${user.status ? '' : 'text-red'}"></td>
                            <td>
                                <form action="/admin/updateStatus" method="get" th:if="${user.status}">
                                    <input type="hidden" name="name" th:value="${user.name}" />
                                    <button type="submit" class="edit-button">
                                        <img class="edit-icon" src="/css/Admin/UserInformation/vaadin-ban0.svg" alt="Ban">
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="infoPagination" th:if="${entries < totalEntries}">
            <span class="showEntries">
                Showing <span th:text="${(currentPage - 1) * entries + 1}"></span>
                to <span th:text="${currEntries}"></span>
                of <span th:text="${totalEntries}"></span> members
            </span>
            <div class="pagination">
                <a th:href="@{/admin/userInfo(page=${currentPage - 1}, entries=${entries}, filter=${filter}, kindActivity=${kindActivity})}"
                   th:if="${currentPage > 1}" class="prev">Prev</a>
                <span th:each="i : ${#numbers.sequence(1, (totalEntries + entries - 1) / entries)}"
                      th:classappend="${i == currentPage} ? 'active' : ''">
                    <a th:href="@{/admin/userInfo(page=${i}, entries=${entries}, filter=${filter}, kindActivity=${kindActivity})}"
                       th:text="${i}"></a>
                </span>
                <a th:href="@{/admin/userInfo(page=${currentPage + 1}, entries=${entries}, filter=${filter}, kindActivity=${kindActivity})}"
                   th:if="${currentPage < (totalEntries + entries - 1) / entries}" class="next">Next</a>
            </div>
        </div>
    </div>
    <!-- Pop-up Modal -->
    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <p>Are you sure you want to ban <span id="userName"></span>?</p>
            <div class="modal-buttons">
                <button id="confirmNo">No</button>
                <button id="confirmYes">Yes</button>
            </div>
        </div>
    </div>
</body>
</html>
