<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/Admin/UserInformation/vars.css">
  <link rel="stylesheet" href="/css/Admin/UserInformation/style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="user-information-admin">
    <div class="navbar">
      <div class="container">
        <div class="content">
          <div class="logo">
            <img class="logo2" src="/css/Admin/UserInformation/logo1.svg" />
            <div class="yu-run">YuRun</div>
          </div>
        </div>
        <div class="column">
          <button class="home" th:onclick="'window.location.href=\'/LandingPage\''">Home</button>
          <btton class="about"  th:onclick="'window.location.href=\'/UserInformationAdmin\''">User Information</button>
          <button class="race"  th:onclick="'window.location.href=\'/RaceAdmin\''">Race</button>
        </div>
        <div class="icon">
          <img class="account-circle" src="/css/Admin/UserInformation/account-circle0.svg" />
          <img
            class="material-symbols-logout"
            src="/css/Admin/UserInformation/material-symbols-logout0.svg"
          />
        </div>
      </div>
    </div>
    <form id="filterForm" class="fitur">
      <div class="search-bar">
        <img class="search" src="/css/Admin/UserInformation/akar-icons-search0.svg" />
        <!-- Search nama member -->
        <input id="filterInput" type="text" name="filter" class="frame" th:value="${filter}" placeholder="Cari Nama Member" />
      </div>
    </form>
    <table class="member-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nama</th>
          <th>Email</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="setoran, stat : ${setoranList}">
          <td th:text="${stat.index + 1}"></td>
          <td th:text="${user.nama}"></td>
          <td th:text="${user.email}"></td>
          <td th:text="${user.status}"></td>
          <td>
            <button class="edit-button" th:data-id="${setoran.id}">
              <img class="edit-icon" src="/css/Admin/UserInformation/vaadin-ban0.svg" alt="Ban">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
</body>
</html>