<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Activity</title>
    <link rel="stylesheet" href="/css/AddActivity/vars.css">
    <link rel="stylesheet" href="/css/AddActivity/styles.css">
</head>
<body class="containerBody">
    <nav class="navbar">
        <div class="logo">
            <img src="/css/LandingPage/logo1.svg">
            <a class="yurun">YuRun</a>
        </div>
        <div class="textNavbar">
            <a class="home">Home</a>
            <a>User Information</a>
            <a>Race</a>
        </div>
        <div class="button">
            <img src="/css/Admin/HomePage/account-circle0.svg"/>
            <img src="/css/Admin/HomePage/logout.svg"/>
        </div>
    </nav>
    <div class="content">
        <div class="frameinput">
            <div class="add-new-activity">Add New Activity</div>
            <div class="input1">
                <div class="divInput">
                    <div class="headInput">Distance</div>
                    <div class="groupFrame">
                        <div class="frame1"></div>
                        <div class="frame1"><span class="textFrame">Kilometer</span></div>
                    </div>
                </div>
                <div class="divInput">
                    <div class="headInput">Duration</div>
                    <div class="groupFrame">
                        <div class="frame2"></div>
                        <span class="textFrame">Hour</span>
                        <div class="frame2"></div>
                        <span class="textFrame">Minute</span>
                        <div class="frame2"></div>
                        <span class="textFrame">Second</span>
                    </div>
                </div>
                <div class="divInput">
                    <div class="headInput">Date & Time</div>
                    <div class="groupFrame">
                        <div class="frame1"> 
                            <input type="date">
                        </div>
                        <div class="frame1">
                            <input type="time">
                        </div>
                    </div>
                </div>
            </div>
            <div class="input2">
                <div class="divInput">
                    <div class="headInput">Title</div>
                    <div class="frame3"></div>
                </div>
                <div class="divInput">
                    <div class="headInput">Kind</div>
                    <!-- UBAH SENDIRI JADI CHECKBOX nya gimana -->
                    <div class="frame4"></div>
                </div>
            </div>
            <div class="input3">
                <div class="divInput">
                    <div class="headInput">Description</div>
                    <div class="frame5"></div>
                </div>
                <div class="divInput">
                    <div class="headInput">Upload</div>
                    <!-- UBAH SENDIRI JADI UPLOAD -->
                    <div class="frame5"></div>
                </div>
            </div>
            <div class="button2">
                <div class="cancel">
                    <div class="cancel2">Cancel</div>
                </div>
                <div class="save">
                    <div class="save2">Save</div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="content2">
            <div class="logo">
              <img class="logo3" src="/css/LandingPage/logo3.svg" />
              <div class="fit-life-studio">FitLife Studio</div>
            </div>
            <div class="links">
              <div class="about2">About</div>
              <div class="contact">Contact</div>
            </div>
            <img class="social" src="/css/LandingPage/social0.svg" />
        </div>
        <div class="divider"></div>
        <div class="credits">
            <div class="row">
              <div class="text-1">© 2024 Shipon. All rights reserved.</div>
              <div class="text-2">Privacy Policy</div>
              <div class="text-3">Terms of Service</div>
              <div class="text-4">Cookies Settings</div>
            </div>
          </div>
    </footer>
</body>
</html>