<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Activity</title>
    <link rel="stylesheet" href="/css/vars.css">
    <link rel="stylesheet" href="/css/Member/Activity/style2.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/Member/AddActivity.js" defer></script>
</head>
<body class="containerBody">
    <nav class="navbar">
        <div class="logo">
            <img src="/css/LandingPage/logo1.svg">
            <a class="yurun">YuRun</a>
        </div>
        <div class="textNavbar">
            <a th:href="@{/member}">Home</a>
            <a class="page" th:href="@{/member/activity}">My Activity</a>
            <a th:href="@{/member/race}">Race</a>
            <a th:href="@{/member/progress}">Progress</a>
        </div>
        <a>
            <img src="/css/Admin/HomePage/account-circle0.svg"/>
        </a>
        <a th:href="@{/logout}">
            <img src="/css/Admin/HomePage/logout.svg"/>
        </a>
    </nav>
    <div class="content">
        <form class="frameinput" method="post" th:action="@{/member/editActivity/{idActivity}(idActivity=${activity.id_activity})}" enctype="multipart/form-data">
            <div class="add-new-activity">Edit Race</div>
            <div class="input1">
                <div class="divInput">
                    <div class="headInput">Distance</div>
                    <div class="groupFrame">
                        <input type="number" step="0.01" class="frame1" required name="distance" th:value="${activity.distance}" >
                        <div class="textFrame">Kilometer</div>
                    </div>
                </div>
                <div class="divInput">
                    <div class="headInput">Duration</div>
                    <div class="groupFrame">
                        <input type="number" class="frame2" required name="hour" th:value="${hour}">
                        <span class="textFrame">Hour</span>
                        <input type="number" class="frame2" required name="minute" th:value="${minute}">
                        <span class="textFrame">Minute</span>
                        <input type="number" class="frame2" required name="second" th:value="${second}">
                        <span class="textFrame">Second</span>
                    </div>
                </div>
                <div class="divInput">
                    <div class="headInput">Start Date & Time</div>
                    <div class="groupFrame">
                        <input type="date" class="frame1" name="date" th:value="${#dates.format(activity.date, 'yyyy-MM-dd')}" th:attr="max=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" required> 
                        <input type="time" class="frame1" name="time" th:value="${#dates.format(activity.time, 'HH:mm')}"required> 
                    </div>
                </div>
            </div>
            <div class="input2">
                <div class="divInput">
                    <div class="headInput">Title</div>
                    <input type="text" class="frame3" name="title" th:value="${activity.title}" required>
                </div>
                <div class="divInput">
                    <div class="headInput">Kind</div>
                    <div class="kindClass">
                        <label class="kindLabel">
                            <input type="radio" name="kind" th:value="Fun-Run" th:checked="${activity.kind == 'Fun-Run'}">
                            <span class="textKind">Fun-Run</span>
                        </label>
                        <label class="kindLabel">
                            <input type="radio" name="kind" th:value="Half-Marathon" th:checked="${activity.kind == 'Half-Marathon'}">
                            <span class="textKind">Half-Marathon</span>
                        </label>
                        <label class="kindLabel">
                            <input type="radio" name="kind" th:value="Marathon" th:checked="${activity.kind == 'Marathon'}">
                            <span class="textKind">Marathon</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="input3">
                <div class="divInput">
                    <div class="headInput">Description</div>
                    <textarea class="frame5" placeholder="Description about the race" name="desc" th:value="${activity.description}" th:text="${activity.description}" required></textarea>
                </div>
                <div class="divInput" th:if="${activity.path_pict != null}">
                    <div class="headInput">Your Previous Picture</div>
                    <img th:src="${activity.path_pict != null ? '/upload/activity-member/' + activity.path_pict : '/upload/activity-member/null2.jpg'}" alt="Image" id="prevImage">
                </div>
                <div class="divInput">
                    <div class="headInput">Upload Your New Picture</div>
                    <input type="file" class="frame7" name="fileImage" id="fileImage" accept="image/*">
                    <img id="thumbnail" src="" alt="Preview Your Picture">
                </div>
            </div>
            <div class="button2">
                <a class="cancel" th:href="@{/member/activity}">
                    <div class="cancel2">Cancel</div>
                </a>
                <button class="save" type="submit">
                    <div class="save2">Save</div>
                </button>
            </div>
        </form>
    </div>
    <footer class="footer">
        <div class="content2">
            <div class="logo">
              <img class="logo3" src="/css/LandingPage/logo3.svg"/>
              <div class="fit-life-studio">YuRun</div>
            </div>
            <div class="links">
              <div class="about2">About</div>
              <div class="contact">Contact</div>
            </div>
            <img class="social" src="/css/LandingPage/social0.svg" />
        </div>
        <div class="divider"></div>
        <div class="credits">
            <div class="row">
              <div class="text-1">© 2024 Shipon. All rights reserved.</div>
              <div class="text-2">Privacy Policy</div>
              <div class="text-2">Terms of Service</div>
              <div class="text-2">Cookies Settings</div>
            </div>
          </div>
    </footer>
</body>
</html>