<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Activity</title>
    <link rel="stylesheet" href="/css/AddActivity/vars.css">
    <link rel="stylesheet" href="/css/AddActivity/styles.css">
</head>
<body class="containerBody">
    <nav class="navbar">
        <div class="logo">
            <img src="/css/LandingPage/logo1.svg">
            <a class="yurun">YuRun</a>
        </div>
        <div class="textNavbar">
            <a th:href="@{/member}">Home</a>
            <a class="home" th:href="@{/member/activity}">My Activity</a>
            <a>Race</a>
        </div>
        <a>
            <img src="/css/Admin/HomePage/account-circle0.svg"/>
        </a>
        <a th:href="@{/logout}">
            <img src="/css/Admin/HomePage/logout.svg"/>
        </a>
    </nav>
    <div class="content">
        <form class="frameinput" method="post" th:action="@{/member/editActivity/{idActivity}(idActivity=${activity.id_activity})}" enctype="multipart/form-data">
            <div class="add-new-activity">Edit Race</div>
            <div class="input1">
                <div class="divInput">
                    <div class="headInput">Distance</div>
                    <div class="groupFrame">
                        <input type="number" step="0.01" class="frame1" required name="distance" th:value="${activity.distance}" >
                        <div class="frame1"><span class="textFrame">Kilometer</span></div>
                    </div>
                </div>
                <div class="divInput">
                    <div class="headInput">Duration</div>
                    <div class="groupFrame">
                        <input type="number" class="frame2" required name="hour" th:value="${hour}">
                        <span class="textFrame">Hour</span>
                        <input type="number" class="frame2" required name="minute" th:value="${minute}">
                        <span class="textFrame">Minute</span>
                        <input type="number" class="frame2" required name="second" th:value="${second}">
                        <span class="textFrame">Second</span>
                    </div>
                </div>
                <div class="divInput">
                    <div class="headInput">Start Date & Time</div>
                    <div class="groupFrame">
                        <input type="date" class="frame1" name="date" th:value="${#dates.format(activity.date, 'yyyy-MM-dd')}" required> 
                        <input type="time" class="frame1" name="time" th:value="${#dates.format(activity.time, 'HH:mm')}"required> 
                    </div>
                </div>
            </div>
            <div class="input2">
                <div class="divInput">
                    <div class="headInput">Title</div>
                    <input type="text" class="frame3" name="title" th:value="${activity.title}" required>
                </div>
                <div class="divInput">
                    <div class="headInput">Kind</div>
                    <div class="kindClass">
                        <label class="kindLabel">
                            <input type="radio" name="kind" th:value="FunRun" th:checked="${activity.kind == 'Fun Run'}">
                            <span class="textKind">Fun Run</span>
                        </label>
                        <label class="kindLabel">
                            <input type="radio" name="kind" th:value="Half-marathon" th:checked="${activity.kind == 'Half-marathon'}">
                            <span class="textKind">Half Marathon</span>
                        </label>
                        <label class="kindLabel">
                            <input type="radio" name="kind" th:value="Marathon" th:checked="${activity.kind == 'Marathon'}">
                            <span class="textKind">Marathon</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="input3">
                <div class="divInput">
                    <div class="headInput">Description</div>
                    <textarea class="frame5" placeholder="Description about the race" name="desc" th:value="${activity.description}" th:text="${activity.description}" required></textarea>
                </div>
                <div class="divInput">
                    <div class="headInput">Change Your Picture</div>
                    <input type="file" class="frame7" name="pict">
                    <img class="frame6" th:if="${picture != null}" th:src="'data:image/jpeg;base64,' + ${picture}" alt="Picture" name="picture"/>
                </div>
            </div>
            <div class="button2">
                <a class="cancel" th:href="@{/member/activity}">
                    <div class="cancel2">Cancel</div>
                </a>
                <button class="save" type="submit">
                    <div class="save2">Save</div>
                </button>
            </div>
        </form>
    </div>
    <footer class="footer">
        <div class="content2">
            <div class="logo">
              <img class="logo3" src="/css/LandingPage/logo3.svg"/>
              <div class="fit-life-studio">FitLife Studio</div>
            </div>
            <div class="links">
              <div class="about2">About</div>
              <div class="contact">Contact</div>
            </div>
            <img class="social" src="/css/LandingPage/social0.svg" />
        </div>
        <div class="divider"></div>
        <div class="credits">
            <div class="row">
              <div class="text-1">© 2024 Shipon. All rights reserved.</div>
              <div class="text-2">Privacy Policy</div>
              <div class="text-3">Terms of Service</div>
              <div class="text-4">Cookies Settings</div>
            </div>
          </div>
    </footer>
</body>
</html>