<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Race</title>
    <link rel="stylesheet" href="/css/Member/Activity/style1.css">
    <link rel="stylesheet" href="/css/Admin/HomePage/vars.css">
</head>
<body class="containerBody">
    <nav class="navbar">
        <div class="logo">
            <img src="/css/LandingPage/logo1.svg">
            <a class="yurun">YuRun</a>
        </div>
        <div class="textNavbar">
            <a th:href="@{/member}">Home</a>
            <a class="page" th:href="@{/member/activity}">My Activity</a>
            <a th:href="@{/member/race}">Race</a>
        </div>
        <div class="button">
            <a>
                <img src="/css/Admin/HomePage/account-circle0.svg"/>
            </a>
            <a th:href="@{/logout}">
                <img src="/css/Admin/HomePage/logout.svg"/>
            </a>
        </div>
    </nav>
    <div class="header">
        <div class="filter">
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a class="active" href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
            </div>
            <!--FORM FOR SEARCHING-->
            <div class="search">
                <img class="search-bar" src="/css/Admin/Race/search0.svg"/>
                <form method="GET">
                  <input type="text" name="filter" th:value="${filter}" placeholder="Search Your Activity" class="search-race" input=this.form.submit()/>
                </form>
              </div>
            <select class="dropdown" id="kind" name="kind" required>
                <option value="" disabled th:if="${kind == null}" selected>Choose Kind of Activity</option>
                <option th:value="Fun-Run" th:selected="${kind == 'Fun-Run'}">Fun-Run</option>
                <option th:value="Half-Marathon" th:selected="${kind == 'Half-Marathon'}">Half-Marathon</option>
                <option th:value="Marathon" th:selected="${kind == 'Marathon'}">Marathon</option>
            </select>
        </div>
        <a class="add" th:href="@{/member/addActivity}">+ Add Activity</a>
    </div>
    <div class="contentBody">
        <div class="square" th:each="activity : ${activity}">
            <div class="kindText" th:text="${activity.kind}">Kind</div>
            <div class="imageContainer">
                <img th:src="${activity.path_pict != null ? '/upload/activity-member/' + activity.path_pict : '/upload/activity-member/null.jpg'}" 
                     alt="Image" class="image">
            </div>
            <div class="detailText">
                <a>
                    <span class="title" th:text="${activity.title}"></span>
                    <span class="description" th:text="${' - ' + activity.description}"></span>
                </a>                
                <a th:text="${'Distance: ' + activity.distance + ' km'}">Distance</a>
                <a th:text="${'Duration: ' + activity.duration}">Duration</a>
                <div class="detailTime">
                    <a th:text="${#dates.format(activity.date, 'dd/MM/yyyy')}">Date</a>
                    <a th:text="${activity.time}">Time</a>
                </div>
            </div>
            <div class="actionButton">
                <button class="delete"><img src="/css/Admin/Race/trash-2-20.svg" alt="Delete"/>Delete</button>
                <a class="edit" th:href="@{/member/editActivity/{idActivity}(idActivity=${activity.id_activity})}">
                    Edit
                </a>
            </div>
        </div>        
    </div>
</body>
</html>