<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Activity</title>
    <link rel="stylesheet" href="/css/Member/Activity/style1.css">
    <link rel="stylesheet" href="/css/vars.css">
</head>
<body class="containerBody">
    <nav class="navbar">
        <div class="logo">
            <img src="/css/LandingPage/logo1.svg">
            <a class="yurun">YuRun</a>
        </div>
        <div class="textNavbar">
            <a th:href="@{/member}">Home</a>
            <a class="home" th:href="@{/member/activity}">My Activity</a>
            <a th:href="@{/member/race}">Race</a>
            <a th:href="@{/member/progress}">Progress</a>
        </div>
        <div class="button">
            <a>
                <img src="/css/Admin/HomePage/account-circle0.svg"/>
            </a>
            <a th:href="@{/logout}">
                <img src="/css/Admin/HomePage/logout.svg"/>
            </a>
        </div>
    </nav>
    <div class="header">
        <form class="filter" method="get" th:action="@{/member/activity}">
            <div class="entries">
                Show <select id="entries" name="entries" onchange="this.form.submit()">
                    <option th:value="0" th:selected="${entries == 0}">All</option>
                    <option th:value="4" th:selected="${entries == 4}">4</option>
                    <option th:value="8" th:selected="${entries == 8}">8</option>
                    <option th:value="12" th:selected="${entries == 12}">12</option>
                    <option th:value="20" th:selected="${entries == 20}">20</option>
                </select> entries
            </div>            
            <div class="search">
                <img class="search-bar" src="/css/Admin/Race/search0.svg"/>
                <input type="text" name="filter" th:value="${filter}" placeholder="Search Title Activity" class="search-race" onkeyup=this.form.submit()/>
            </div>
            <select class="dropdown" id="kindActivity" name="kindActivity" onchange="this.form.submit()">
                <option th:value="null" th:selected="${kindActivity == 'null'}">All Kind Activity</option>
                <option th:value="Fun-Run" th:selected="${kindActivity == 'Fun-Run'}">Fun-Run</option>
                <option th:value="Half-Marathon" th:selected="${kindActivity == 'Half-Marathon'}">Half-Marathon</option>
                <option th:value="Marathon" th:selected="${kindActivity == 'Marathon'}">Marathon</option>
            </select>
            <select class="dropdown" id="sort" name="sort" onchange="this.form.submit()">
                <option th:value="null" th:selected="${sort == null}">Sort by: Featured</option>
                <option th:value="Distance-Asc" th:selected="${sort == 'Distance-Asc'}">Distance: Short - Long</option>
                <option th:value="Distance-Desc" th:selected="${sort == 'Distance-Desc'}">Distance: Long - Short</option>
                <option th:value="Duration-Asc" th:selected="${sort == 'Duration-Asc'}">Duration: Short - Long</option>
                <option th:value="Duration-Desc" th:selected="${sort == 'Duration-Desc'}">Duration: Long - Short</option>
                <option th:value="Date-Asc" th:selected="${sort == 'Date-Asc'}">Date: Oldest - Newest</option>
                <option th:value="Date-Desc" th:selected="${sort == 'Date-Desc'}">Date: Newest - Oldest</option>
            </select>
        </form>
        <a class="add" th:href="@{/member/addActivity}">+ Add Activity</a>
    </div>
    <div class="contentBody" th:if="${activity == null or activity.isEmpty()}">
        <p>No activities available at the moment.</p>
    </div>
    <div class="contentBody">
        <div class="square" th:each="activity : ${activity}">
            <div class="kindText" th:text="${activity.kind}">Kind</div>
            <a class="imageContainer" th:href="@{/member/editActivity/{idActivity}(idActivity=${activity.id_activity})}">
                <img th:src="${activity.path_pict != null ? '/upload/activity-member/' + activity.path_pict : '/upload/activity-member/null2.jpg'}" 
                     alt="Image" class="image">
            </a>
            <div class="detailText">
                <a>
                    <span class="title" th:text="${activity.title}"></span>
                    <span class="description" th:text="${' - ' + activity.description}"></span>
                </a>                
                <a th:text="${'Distance: ' + activity.distance + ' km'}">Distance</a>
                <a th:text="${'Duration: ' + activity.duration}">Duration</a>
                <div class="detailTime">
                    <a th:text="${#dates.format(activity.date, 'd MMMM yyyy')}">Date</a>
                    <a th:text="${activity.time}">Time</a>
                </div>
            </div>
            <div class="actionButton">
                <a class="delete" th:href="@{/member/deleteActivity/{idActivity}(idActivity=${activity.id_activity})}"><img src="/css/Admin/Race/trash-2-20.svg" alt="Delete"/>Delete</a>
                <a class="edit" th:href="@{/member/editActivity/{idActivity}(idActivity=${activity.id_activity})}">
                    Edit
                </a>
            </div>
        </div>        
    </div>
    <div class="infoPagination" th:if="${entries < totalEntries}">
        <span class="showEntries">
            Showing <span th:text="${(currentPage - 1) * entries + 1}"></span>
            to <span th:text="${currEntries}"></span>
            of <span th:text="${totalEntries}"></span> activities
        </span>
        <div class="pagination">
            <a th:href="@{/member/activity(page=${currentPage - 1}, entries=${entries}, filter=${filter}, kindActivity=${kindActivity})}"
               th:if="${currentPage > 1}" class="prev">Prev</a>
            <span th:each="i : ${#numbers.sequence(1, (totalEntries + entries - 1) / entries)}"
                  th:classappend="${i == currentPage} ? 'active' : ''">
                <a th:href="@{/member/activity(page=${i}, entries=${entries}, filter=${filter}, kindActivity=${kindActivity})}"
                   th:text="${i}"></a>
            </span>
            <a th:href="@{/member/activity(page=${currentPage + 1}, entries=${entries}, filter=${filter}, kindActivity=${kindActivity})}"
               th:if="${currentPage < (totalEntries + entries - 1) / entries}" class="next">Next</a>
        </div>
    </div>       
    <footer class="footer">
        <div class="content2">
            <div class="logo">
              <img class="logo3" src="/css/LandingPage/logo3.svg" />
              <div class="fit-life-studio">YuRun</div>
            </div>
            <div class="links">
              <div class="about2">About</div>
              <div class="contact">Contact</div>
            </div>
            <img class="social" src="/css/LandingPage/social0.svg" />
        </div>
        <div class="divider"></div>
        <div class="credits">
            <div class="row">
              <div class="text-1">© 2024 Shipon. All rights reserved.</div>
              <div class="text-2">Privacy Policy</div>
              <div class="text-2">Terms of Service</div>
              <div class="text-2">Cookies Settings</div>
            </div>
        </div>
    </footer>   
</body>
</html>