<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approval Race</title>
    <link rel="stylesheet" href="/css/Admin/Race/approval.css">
    <link rel="stylesheet" href="/css/vars.css">
    <script src="/js/Admin/Approval.js" defer></script>
</head>
<body class="containerBody">
    <nav class="navbar">
        <div class="logo">
            <img src="/css/LandingPage/logo1.svg">
            <a class="yurun">YuRun</a>
        </div>
        <div class="textNavbar">
            <a th:href="@{/admin/home}">Home</a>
            <a th:href="@{/admin/userInfo}">User Information</a>
            <a th:href="@{/admin/race}" class="page">Race</a>
        </div>
        <div class="button">
            <a>
                <img src="/css/Admin/HomePage/account-circle0.svg"/>
            </a>
            <a th:href="@{/logout}">
                <img src="/css/Admin/HomePage/logout.svg"/>
            </a>
        </div>
    </nav>
    <div class="information">
        <a class="headInfo">Approvals</a>
        <a>
            <span th:text="${title}"></span>
            <span th:text="${' - ' + target + ' km'}"></span>
        </a>
    </div>
    <form class="header" method="get" th:action="@{/admin/race/approval/{idRace}(idRace=${idRace})}">
        <!--FORM FOR SEARCHING-->
        <div class="search">
            <img class="search-bar" src="/css/Admin/Race/search0.svg"/>
            <input type="text" name="filter" th:value="${filter}" placeholder="Search Member" class="search-member" input=this.form.submit()/>
        </div>
        <!--FORM FOR DROPDOWN-->
        <select class="dropdown" id="statusMember" name="statusMember" onchange="this.form.submit()">
            <option value="" th:selected="${statusMember == ''}">All Status Member</option>
            <option th:value="true" th:selected="${statusMember == 'true'}">Approve</option>
            <option th:value="false" th:selected="${statusMember == 'false'}">Reject</option>
        </select>
    </form>
    <form class="body" method="post" th:action="@{/admin/race/approval/{idRace}(idRace=${idRace})}">
        <div class="bodyButton">
            <a class="back" th:href="@{/admin/race}">Back</a>
            <button class="save" type="button" onclick="showPopup(event)" 
                    th:attr="disabled=${statusRace ? 'disabled' : null}">Save</button>
        </div>        
        <div class="contentBody" th:if="${resultRace != null and resultRace.size() > 0}" >
            <div class="square" th:each="resultRace : ${resultRace}">
                <div class="imageContainer">
                    <img th:src="${resultRace.path_pict != null ? '/upload/race-member/' + resultRace.path_pict : '/upload/race-member/null.jpg'}" alt="Image" class="image">
                </div>
                <div class="detailText">
                    <input type="hidden" name="id_users" th:value="${resultRace.id_user}">
                    <input type="hidden" name="statuses" value="null" class="statusField">
                    <a th:text="${resultRace.name}"></a>
                    <a th:text="'Duration: ' + ${resultRace.member_duration}"></a>
                    <div class="buttonApprove">
                        <a th:class="${resultRace.status == null ? 'button2' : (resultRace.status ? 'approve' : 'button2')}"
                           onclick="setApprove(this)">
                           <img class="imgButton" src="/css/Admin/Race/mark.png"> Approve
                        </a>
                        <a th:class="${resultRace.status == null ? 'button2' : (!resultRace.status ? 'reject' : 'button2')}"
                           onclick="setReject(this)">
                           <img class="imgButton" src="/css/Admin/Race/decline.png"> Reject
                        </a>
                    </div>                                           
                </div>
            </div>            
        </div>
        <div class="contentBody" th:if="${resultRace == null or resultRace.size() == 0}">
            <p class="no-results-message" th:text="${message}"></p>
        </div>
        <div id="popup" class="popup hidden">
            <div class="popup-content">
                <a>Are you sure you want to save the approvals?</a> <br>
                <p>You can't make changes once it has been saved.</p>
                <div class="popup-actions">
                    <a class="noAction" onclick="closePopup()">No</a>
                    <a id="confirmClose" href="#" class="confirm" onclick="confirmSubmit()">Yes</a>
                </div>
            </div>
        </div>     
    </form>           
</body>
</html>