<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Race</title>
    <link rel="stylesheet" href="/css/Admin/Race/style2.css">
</head>
<body class="containerBody">
    <nav class="navbar">
        <div class="logo">
            <img src="/css/LandingPage/logo1.svg">
            <a class="yurun">YuRun</a>
        </div>
        <div class="textNavbar">
            <a th:href="@{/admin/home}">Home</a>
            <a th:href="@{/admin/userInfo}">User Information</a>
            <a th:href="@{/admin/race}" class="page">Race</a>
        </div>
        <div class="button">
            <img src="/css/Admin/HomePage/account-circle0.svg"/>
            <a th:href="@{/logout}">
                <img src="/css/Admin/HomePage/logout.svg"/>
            </a>
        </div>
    </nav>
    <div class="content">
        <form class="frameinput" method="post" th:action="@{/admin/editRace/{idRace}(idRace=${race.idRace})}" enctype="multipart/form-data">
            <div class="add-new-activity">Edit Race</div>
            <div class="input1">
                <div class="divInput">
                    <div class="headInput">Distance (km)</div>
                    <input type="number" class="frame1" name="distance" th:value="${race.distance}" required>
                </div>
                <div class="divInput">
                    <div class="headInput">Due Date</div>
                    <input type="date" class="frame1" name="endDate" th:value="${#dates.format(race.end_date, 'yyyy-MM-dd')}" 
                        th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" required>
                </div>
            </div>
            <div class="input2">
                <div class="divInput">
                    <div class="headInput">Title</div>
                    <input type="text" class="frame3" name="title" th:value="${race.title}" required>
                </div>
            </div>
            <div class="input3">
                <div class="divInput">
                    <div class="headInput">Description</div>
                    <textarea class="frame5" name="description" placeholder="Description about the race" th:text="${race.description}"></textarea>
                </div>
            </div>
            <div class="button2">
                <a class="cancel" th:href="@{/admin/race}">
                    <div class="cancel2">Cancel</div>
                </a>
                <button class="save" type="submit">
                    <div class="save2">Save</div>
                </button>
            </div>
        </form>        
    </div>
</body>
</html>