<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Activity</title>
    <link rel="stylesheet" href="/css/Admin/HomePage/vars.css">
    <link rel="stylesheet" href="/css/Admin/Race/style2.css">
</head>
<body class="containerBody">
    <nav class="navbar">
        <div class="logo">
            <img src="/css/LandingPage/logo1.svg">
            <a class="yurun">YuRun</a>
        </div>
        <div class="textNavbar">
            <a>Home</a>
            <a>User Information</a>
            <a class="page">Race</a>
        </div>
        <div class="button">
            <img src="/css/Admin/HomePage/account-circle0.svg"/>
            <img src="/css/Admin/HomePage/logout.svg"/>
        </div>
    </nav>
    <div class="content">
        <form class="frameinput" method="post" th:action="@{/admin/editRace/{idRace}(idRace=${race.idRace})}" enctype="multipart/form-data">
            <div class="add-new-activity">Edit Race</div>
            <div class="input1">
                <div class="divInput">
                    <div class="headInput">Distance</div>
                    <input type="number" class="frame1" name="distance" th:value="${race.distance}" required>
                </div>
                <div class="divInput">
                    <div class="headInput">Start Date</div>
                    <input type="date" class="frame1" name="startDate" th:value="${#dates.format(race.start_date, 'yyyy-MM-dd')}">
                </div>
                <div class="divInput">
                    <div class="headInput">Start Time</div>
                    <input type="time" class="frame1" name="time" th:value="${#dates.format(race.time, 'HH:mm')}">
                </div>
            </div>
            <div class="input2">
                <div class="divInput">
                    <div class="headInput">Title</div>
                    <input type="text" class="frame3" name="title" th:value="${race.title}" required>
                </div>
            </div>
            <div class="input3">
                <div class="divInput">
                    <div class="headInput">Description</div>
                    <textarea class="frame5" name="description" placeholder="Description about the race" th:text="${race.description}"></textarea>
                </div>
                <div class="divInput">
                    <div class="headInput">Upload Race Map</div>
                    <input type="file" class="frame5" name="raceMap">
                </div>
            </div>
            <div class="button2">
                <a class="cancel" th:href="@{/admin/race}">
                    <div class="cancel2">Cancel</div>
                </a>
                <button class="save" type="submit">
                    <div class="save2">Save</div>
                </button>
            </div>
        </form>        
    </div>
</body>
</html>